Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Django Unit Tests:
  stage: test
  image: python:3.8
  services:
  - postgres:16
  - name: minio/minio:RELEASE.2023-10-25T06-33-25Z
    command:
    - server
    - /minio
    alias: minio
  before_script:
  - curl https://dl.min.io/client/mc/release/linux-amd64/mc --create-dirs -o mc
  - chmod +x ./mc
  ...

Frontend Compile Test:
  stage: test
  image: node:20-alpine
  before_script:
  - cd frontend
  script:
  - yarn --ignore-engines
  - CI=false yarn run build

Changed react table library
  frontend/package.json
  frontend/src/pages/testimonials-page.tsx
  frontend/yarn.lock
Due: Frontend Compile Test

Extract euclid code badges into own component in category page
  frontend/src/components/euclid-code-badge.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Add separate /edit path for category edit page
  frontend/src/app.tsx
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Redirect unauthorized users away from category edit page
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Initial prototype of tabs on category page + double column layout
  frontend/src/components/exam-list.tsx
  frontend/src/hooks/useCategoryTabs.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Use subpath URL scheme for category page tabs instead of query params
  frontend/src/hooks/useCategoryTabs.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Add comment explaining why /category/:slug/edit is above main path
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Rewrite the README for UoE, fixing #14 and #25
  README.md
  logo.png
Due: none

Fix category page BI course data disappearing during dev-mode HMR
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Add a 'current run data' box in category page with pie chart
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Fix empty Paper component showing on categories without knowledgebase
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

temp: Dynamically determine category's session year from Date()
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Redirect away from disabled tabs on category page
  frontend/src/hooks/useCategoryTabs.tsx
Due: Frontend Compile Test

Disable testimonials and statistics tabs
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Use <Tooltip> instead of 'title' for disabled tabs on category page
  frontend/src/hooks/useCategoryTabs.tsx
Due: Frontend Compile Test

Fix remarks being too tightly close to euclid badges
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Fix dual-column category page on mobile by using single-column for < md
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Fix exam grid not being able to shrink under 320px if 1fr < 320px
  frontend/src/components/exam-grid.module.css
Due: Frontend Compile Test

Fix category page tabs wrapping on mobile, make it scrollable
  frontend/src/hooks/useCategoryTabs.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Reduce gutters and paddings on category page on mobile
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Allow setting to auto theme (not for mobile...:) )
  frontend/src/components/color-scheme-toggle.tsx
Due: Frontend Compile Test

Fix exam grid not shrinking when viewport < 320px (77be11fc did it wrong)
  frontend/src/components/exam-grid.module.css
Due: Frontend Compile Test

Wrap exam card pills so trash icon doesn't move down
  frontend/src/components/exam-type-section.tsx
Due: Frontend Compile Test

Add comment explaining when the quickinfo 'not running' panel shows
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Fixed DataTable UI
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/layout.css
  frontend/src/pages/testimonials-page.tsx
  frontend/yarn.lock
Due: Frontend Compile Test

Fix Layout of Add Testimonial Modal
  frontend/src/pages/testimonials-page.tsx
Due: Frontend Compile Test

Add Testimonial Backend and Frontend working
  backend/testimonials/models.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/src/api/hooks.ts
  frontend/src/app.tsx
  frontend/src/pages/add-testimonials-page.tsx
  frontend/src/pages/testimonials-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Local observability, faro, alloy
  backend/backend/settings.py
  contrib/local-observability/config.alloy
  contrib/local-observability/grafana/datasources/loki.yml
  contrib/local-observability/grafana/datasources/prometheus.yml
  contrib/local-observability/grafana/datasources/tempo.yml
  contrib/local-observability/loki-local-config.yml
  contrib/local-observability/prometheus.yml
  contrib/local-observability/tempo.yml
  docker-compose.yml
  frontend/.env.development
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/index.tsx
  frontend/src/utils/faro-intialize.ts
  frontend/src/utils/server-data.tsx
  frontend/yarn.lock
Due: Django Unit Tests, Frontend Compile Test

feat: AI toxicity Testimonial Check + Admin View to Approve Testimonial + Notifications to users depending on testimonial result
  Dockerfile
  backend/ediauth/auth_backend.py
  backend/notifications/models.py
  backend/notifications/notification_util.py
  backend/requirements.txt
  backend/testimonials/models.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/package.json
  frontend/src/api/hooks.ts
  frontend/src/api/testimonials.ts
  frontend/src/app.tsx
  frontend/src/components/user-notification-settings.tsx
  frontend/src/components/user-testimonials.tsx
  frontend/src/pages/add-testimonials-page.tsx
  frontend/src/pages/testimonials-page.tsx
  frontend/src/pages/userinfo-page.tsx
  frontend/yarn.lock
Due: Django Unit Tests, Frontend Compile Test

Add tracing of frontend
  contrib/local-observability/config.alloy
  frontend/src/utils/server-data.tsx
Due: Frontend Compile Test

Trace & Instrument backend
  Dockerfile
  backend/backend/settings.py
  backend/gunicorn.conf.py
  backend/requirements.txt
  cinit.yml
  contrib/local-observability/config.alloy
  docker-compose.yml
Due: Django Unit Tests

Allow disabling via env var
  backend/gunicorn.conf.py
  backend/manage.py
  docker-compose.yml
Due: Django Unit Tests

Finalize local observability setup.
  README.md
  docker-compose.observability.yml
  docker-compose.yml
  frontend/.env.development
  frontend/src/app.tsx
  frontend/src/index.tsx
  frontend/src/utils/faro-intialize.ts
Due: Frontend Compile Test

Quick note README
  README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  frontend/src/utils/faro-intialize.ts
Due: Frontend Compile Test

Apply 1 suggestion(s) to 1 file(s)
  backend/gunicorn.conf.py
Due: Django Unit Tests

Apply 1 suggestion(s) to 1 file(s)
  README.md
Due: none

Add dashboard, implement comments
  README.md
  contrib/dashboards/community-solutions-metrics.json
  contrib/local-observability/grafana/dashboards/dashboards.yml
  docker-compose.observability.yml
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/utils/faro-intialize.ts
Due: Frontend Compile Test

Add Pyroscope to monitoring stack
  README.md
  backend/gunicorn.conf.py
  backend/manage.py
  backend/requirements.txt
  backend/util/instrumentation.py
  contrib/local-observability/grafana/datasources/pyroscope.yml
  docker-compose.observability.yml
Due: Django Unit Tests

Fix homepage and document list not shrinking when viewport width < 280px
  frontend/src/components/grid.module.css
Due: Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*
