Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Fix CI prettier comparing deleted files
  .gitlab-ci.yml
Due: none

Add changelog for v2026.07.p0
  CHANGELOG.md
Due: none

Fix the draft bug
  frontend/src/utils/drafts.ts
Due: Frontend Check

Fix tab order for home page filter
  frontend/src/components/recently-viewed-exams.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Add changelog for v2026.07.p1
  CHANGELOG.md
Due: none

Remove tinycolo2 entirely from dep tree
  frontend/package.json
  frontend/src/app.tsx
  frontend/yarn.lock
Due: Frontend Check

Fix eslint errors in Edinburgh-specific code
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/Navbar/BottomHeader.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Rename upstream migration to correct date
  backend/documents/migrations/0019_20260801_merge_upstream_normalise_documentfile_order.py
Due: Backend Check

Fix low visibility button in document transfer banner
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Enable DOCUMENT_TRANSFER notifications by default
  backend/ediauth/auth_backend.py
Due: Backend Check

Generate OpenAPI spec within CI to fix frontend typecheck
  .github/workflows/ci.yaml
Due: none

Add missing codegen step in CI
  .github/workflows/ci.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add operation_ids to all Dissertation API endpoints
  backend/dissertations/api.py
Due: Backend Check

Use Orval-generated hooks for dissertation frontend
  backend/dissertations/api.py
  frontend/src/api/hooks.ts
  frontend/src/app.tsx
  frontend/src/components/dissertation-list.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/dissertation-detail-page.tsx
  frontend/src/pages/dissertation-upload-page.tsx
Due: Backend Check, Frontend Check

Fix not being able to unset grade band of dissertation
  backend/dissertations/api.py
  frontend/src/pages/dissertation-upload-page.tsx
Due: Backend Check, Frontend Check

Fix dissertation list loader not showing on subsequent queries
  frontend/src/components/dissertation-list.tsx
Due: Frontend Check

Fix uwu not working due to bad migration from query-string
  frontend/src/app.tsx
Due: Frontend Check

Remove any existing uwu URL param when force-setting via footer
  frontend/src/components/footer.tsx
Due: Frontend Check

added features: using category slud to show testimonial, getting testimonial count, code formatting
  backend/.env.development
  backend/manage.py
  backend/testimonials/migrations/0002_testimonial_slug.py
  backend/testimonials/models.py
  frontend/src/api/testimonials.ts
  frontend/src/components/testimonial-card.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/category-page.tsx
Due: Backend Check, Frontend Check

Running prek run --all-files
  backend/answers/section_util.py
  backend/notifications/tests.py
  backend/stats/tests.py
  backend/testimonials/admin.py
  backend/testimonials/models.py
  backend/testimonials/tests.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  backend/users/api.py
Due: Backend Check

Change wrong field spelling: author_display_name
  backend/testimonials/views.py
Due: Backend Check

Remove unneeded env variable
  backend/.env.development
Due: Backend Check

Show last login date on user profiles if admin
  backend/scoreboard/views.py
  frontend/src/interfaces.ts
  frontend/src/pages/userinfo-page.tsx
Due: Backend Check, Frontend Check

Show the exam list as rows instead of a grid
  frontend/src/components/exam-grid.tsx
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Match exam list status/action icons in color tone and style
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/status-icon.module.css
  frontend/src/components/status-icon.tsx
Due: Frontend Check

Remove unused imports from exam list status icons
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/status-icon.tsx
Due: Frontend Check

Fix exam table negative margins being too large on small screens
  frontend/src/components/exam-type-section.module.css
Due: Frontend Check

Make claim button in exam list compact
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Show bitmask of answered sections on exam list (because it's cool)
  backend/categories/migrations/0020_examcounts_add_bitmask.py
  backend/categories/models.py
  backend/categories/views.py
  frontend/src/components/exam-type-section.tsx
  frontend/src/interfaces.ts
Due: Backend Check, Frontend Check

Show official solution availability as a status icon, not badge
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Change tooltip wording to be more concise on exam bitmask bar
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Show unanswered sections more prominently in exam bitmask bar
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Improve screenreader accessibility for exam bitmask bar
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Show textual representation of exam bitmask bar
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Use grid + subgrid to align exam bitmask bar to each other
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Address PR Review comments
  backend/ediauth/views.py
  backend/testimonials/migrations/0003_remove_testimonial_slug.py
  backend/testimonials/models.py
  backend/testimonials/views.py
  frontend/src/components/testimonial-card.module.css
  frontend/src/components/testimonial-card.tsx
  frontend/src/pages/category-page.tsx
Due: Backend Check, Frontend Check

Remove unused imports
  frontend/src/components/testimonial-card.tsx
Due: Frontend Check

Remove more unused imports
  frontend/src/api/testimonials.ts
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix another CI error
  frontend/src/pages/category-page.tsx
Due: Frontend Check
