Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Revert "Delete the font overrides for the editor and use the default"
  frontend/src/components/Editor/BasicEditor.module.css
Due: Frontend Check

Implement list view for document bundles
  frontend/src/components/document-list.tsx
  frontend/src/components/document-type-section.module.css
  frontend/src/components/document-type-section.tsx
Due: Frontend Check

Place author below title in document list
  frontend/src/components/document-type-section.module.css
  frontend/src/components/document-type-section.tsx
Due: Frontend Check

Turn like count on document list into clickable button
  frontend/src/components/document-list.tsx
  frontend/src/components/document-type-section.tsx
Due: Frontend Check

Fit author into single line in document list for compactness
  frontend/src/components/document-type-section.tsx
Due: Frontend Check

Hide last edit time of document on mobile to prevent overflow
  frontend/src/components/document-type-section.tsx
Due: Frontend Check

Make the exam list feel more natural when no exams are found
  frontend/src/components/exam-list.tsx
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Make the document list feel more natural when no documents are found
  frontend/src/components/document-list.tsx
  frontend/src/components/document-type-section.module.css
  frontend/src/components/document-type-section.tsx
Due: Frontend Check

Rename EmptySection to EmptyExamSection to disambiguate from documents
  frontend/src/components/exam-list.tsx
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Rephrase PageArticleContent placeholder to encourage writing
  frontend/src/components/page-article-content.tsx
Due: Frontend Check

Update dissertation list to use similar code to document/exam list
  frontend/src/components/category-resources.tsx
  frontend/src/components/dissertation-list.module.css
  frontend/src/components/dissertation-list.tsx
Due: Frontend Check

Fix ExtremelyTrustedHTML breaking with no script tags
  frontend/src/components/extremely-trusted-html.tsx
Due: Frontend Check

Extract out similar CSS grid pattern of resources into component
  frontend/src/components/dissertation-list.module.css
  frontend/src/components/dissertation-list.tsx
  frontend/src/components/document-type-section.module.css
  frontend/src/components/document-type-section.tsx
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/resource-list.module.css
  frontend/src/components/resource-list.tsx
Due: Frontend Check

Fix create_page_for_categories migration having 0 delta
  backend/pages/migrations/0003_create_page_for_categories.py
Due: Backend Check

Add a placeholder text when category has no testimonials
  frontend/src/components/category-testimonials.tsx
Due: Frontend Check

Modify CourseStats.code to be FK to EuclidCode, add JSONB for percentiles
  backend/categories/migrations/0021_add_percentile_stats_and_fk.py
  backend/categories/models.py
  backend/categories/views.py
Due: Backend Check

Allow admins to add, update, and delete course stats via API
  backend/categories/tests.py
  backend/categories/urls.py
  backend/categories/views.py
Due: Backend Check

Add date to testimonials, and clean up fields declarations
  backend/testimonials/migrations/0004_rename_testimonial_testimonial_text_and_more.py
  backend/testimonials/models.py
  backend/testimonials/views.py
Due: Backend Check

Fix add/remove euclid code endpoints being broken after 7eae1251
  backend/categories/models.py
  backend/categories/views.py
Due: Backend Check

Add optional student_count field to CourseStats
  backend/categories/migrations/0022_coursestats_add_student_count.py
  backend/categories/models.py
  backend/categories/tests.py
  backend/categories/views.py
Due: Backend Check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add nonce-based CSP exception to trusted guide pages
  backend/backend/settings.py
  backend/pages/api.py
Due: Backend Check

Allow duplicate course stats differentiated by source name/date
  backend/categories/migrations/0023_alter_coursestats_options_coursestats_source_date_and_more.py
  backend/categories/models.py
  backend/categories/tests.py
  backend/categories/views.py
Due: Backend Check

Fix interactions between fade-in-order and focus-outline #68
  frontend/src/utils/fade-in-order.module.css
  frontend/src/utils/focus-outline.module.css
Due: Frontend Check

Allow guest users to browse to child category guides directly
  frontend/src/components/page-article.tsx
Due: Frontend Check

Make child category guide list fade on enter
  frontend/src/components/page-article.module.css
  frontend/src/components/page-article.tsx
Due: Frontend Check

Allow hovering over any part of grade chart to highlight nearest series
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Show standard deviation as shaded area
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Adapt to multi-source grade stats, show 5/95 percentiles if they exist
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
  frontend/src/interfaces.ts
Due: Frontend Check

Make course organiser field non-nullable since frontend depends on it
  backend/categories/migrations/0024_require_course_organiser.py
  backend/categories/models.py
Due: Backend Check

Validate percentiles field when adding/updating new grade data
  backend/categories/views.py
Due: Backend Check

Remove unused imports in CategoryGradeStatChart
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Mark stats add/update/deletion CSRF exempt for API access
  backend/categories/views.py
Due: Backend Check

Fix lackluster types provided by echarts for event callback
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Downplay with a little more delay in grade charts
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Show quartile percentiles in grade chart if they exist
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
  frontend/src/interfaces.ts
Due: Frontend Check

Disable standard deviation band hover when series is hidden via legend
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Improve help-text for grade stat to indicate sources and interpretation
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Hide course organiser labels in grade stats on mobile
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Show full course name on grade stat hover tooltip for clarity
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
