Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Fix scoreboard backend not referencing displayname
  backend/scoreboard/views.py
Due: Backend Check

Fix scoreboard frontend not showing displayname
  frontend/src/pages/scoreboard-page.tsx
Due: Frontend Check

Improve coloring of quick search box focus outline
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.module.css
Due: Frontend Check

Style score ranking card to match other score cards
  frontend/src/components/user-score-card.tsx
Due: Frontend Check

Update all non-major dependencies
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

Include a screenshot in the README and make is stylish
  README.md
  screenshot.png
Due: none

Include Gantt of near-term plans in README
  README.md
Due: none

React v19
  frontend/package.json
  frontend/src/components/Editor/BasicEditor.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchResult.tsx
  frontend/src/components/markdown-text.tsx
  frontend/src/components/user-answers.tsx
  frontend/src/components/user-comments.tsx
  frontend/src/hooks/useAlmostInViewport.ts
  frontend/src/hooks/useLoad.ts
  frontend/src/hooks/useLongPress.ts
  frontend/src/hooks/useWasInViewport.ts
  frontend/yarn.lock
Due: Frontend Check

Fix react-transition-group
  frontend/src/components/document-list.tsx
  frontend/src/components/panel-left.tsx
  frontend/src/components/panel.tsx
Due: Frontend Check

Resolve "Mark potentially-AI answers for transparency to students"
  backend/answers/migrations/0021_answer_marked_as_ai_comment_marked_as_ai.py
  backend/answers/models.py
  backend/answers/section_util.py
  backend/answers/test/tests_answers.py
  backend/answers/test/tests_comments.py
  backend/answers/urls.py
  backend/answers/views_answers.py
  backend/answers/views_comments.py
  backend/answers/views_listings.py
  backend/documents/migrations/0017_comment_marked_as_ai.py
  backend/documents/urls.py
  backend/documents/views.py
  backend/testing/management/commands/create_testdata.py
  backend/util/models.py
  frontend/src/api/hooks.ts
  frontend/src/components/FlaggedBadge.tsx
  frontend/src/components/MarkedAsAiBadge.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment-single.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/document-page.tsx
Due: Backend Check, Frontend Check

Resolve "Create frontend for "official answers""
  backend/answers/section_util.py
  backend/answers/views_files.py
  frontend/package.json
  frontend/src/components/Editor/EditorFooter.tsx
  frontend/src/components/Editor/index.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.module.css
  frontend/src/components/answer.tsx
  frontend/src/components/official-answer-overlay.tsx
  frontend/src/components/official-solution.tsx
  frontend/src/utils/ts-utils.ts
  frontend/yarn.lock
Due: Backend Check, Frontend Check

Migrate to yarn berry
  .gitlab-ci.yml
  .gitpod.yml
  Dockerfile
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

Revert "Merge branch 'yarn-v4' into 'master'"
  .gitlab-ci.yml
  .gitpod.yml
  Dockerfile
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

Remove unused ordinal function from user score card
  frontend/src/components/user-score-card.tsx
Due: Frontend Check

Merge branch 'yarn-v4' into 'master'
  .gitlab-ci.yml
  .gitpod.yml
  Dockerfile
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

Fix typing issue with tabler icon types
  frontend/src/components/user-score-card.tsx
Due: Frontend Check

react-router-dom v7
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Check

Make `<Link>` absolute
  frontend/src/components/Navbar/BottomHeader.tsx
Due: Frontend Check

Fix relative links
  frontend/src/components/notification.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

drive-by: Remove some unused imports
  frontend/src/components/Navbar/ExternalNav.tsx
  frontend/src/components/comment-section.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/components/exam-list.tsx
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/user-payments.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix relative navigates
  frontend/src/pages/category-page.tsx
  frontend/src/pages/exam-page.tsx
Due: Frontend Check

drive-by: Use <Link> for homepage icon
  frontend/src/components/Navbar/TopHeader.tsx
  frontend/src/components/footer.tsx
Due: Frontend Check

Pin local Postgres version to bookworm
  docker-compose.yml
Due: none

Format DissertationListPage with prettier
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Fix linter warnings with DissertationListPage
  backend/dissertations/apps.py
  backend/dissertations/models.py
  backend/dissertations/urls.py
  backend/dissertations/views.py
  frontend/src/pages/DissertationListPage.tsx
Due: Backend Check, Frontend Check

Use Django Ninja for dissertation backend APIs
  backend/backend/urls.py
  backend/dissertations/api.py
  backend/dissertations/urls.py
Due: Backend Check

Use a generic wrapper class for dissertation response 'value'
  backend/dissertations/api.py
Due: Backend Check

Consolidate /upload/ and /list/ dissertations and distinguish by method
  backend/dissertations/api.py
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Backend Check, Frontend Check

Implement PUT method for dissertations to edit any fields or the file
  backend/dissertations/api.py
Due: Backend Check

Implement DELETE method for dissertations
  backend/dissertations/api.py
Due: Backend Check

Add Joshua Tauberer's PDF redactor
  backend/dissertations/pdf_redactor.py
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Remove Python2-specific paths in pdf_redactor, typecheck
  backend/dissertations/pdf_redactor.py
Due: Backend Check

Implement POST /dissertations/redact/ to redact phrases from PDF
  backend/dissertations/api.py
Due: Backend Check

Delete temporary redacted dissertation PDFs older than 5minutes
  backend/dissertations/api.py
  backend/util/s3_util.py
Due: Backend Check

Format UploadDissertationPage with prettier
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Format DissertationDetailPage with prettier
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Consolidate frontend dissertation interfaces, and use int for year
  backend/dissertations/api.py
  frontend/src/interfaces.ts
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/DissertationListPage.tsx
Due: Backend Check, Frontend Check

Fix Django Ninija validation errors not conforming to .err standard across ComSol
  backend/backend/urls.py
Due: Backend Check

Rewrite frontend diss upload logic wtih useRequest
  frontend/src/api/hooks.ts
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Show most recent year first in dissertation year dropdown
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check
