Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Add unit tests for checking if user can de-anonymise page author
  backend/pages/tests.py
Due: Backend Check

Remove unused check property introduced to UserSetEditor in 41df0571
  frontend/src/components/user-set-editor.tsx
Due: Frontend Check

Remove unused Checkbox import from HomePage
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Fix visual bugs introduced by erroneous fix in 2406e4b7
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Unconditionally create new guide page for new categories
  backend/categories/views.py
  frontend/src/pages/home-page.tsx
Due: Backend Check, Frontend Check

Add comment explaining unused Resource model in Page
  backend/pages/models.py
Due: Backend Check

Remove unused import from page-article
  frontend/src/components/page-article.tsx
Due: Frontend Check

Make category association box searchable when editing guide page
  frontend/src/components/page-article.tsx
Due: Frontend Check

Add background to edit/revision button on category page guide for visibility
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Try to use the same slug for pages created upon category creation
  backend/categories/views.py
  backend/pages/api.py
Due: Backend Check

Remove unused variable introduced by 84835646
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Make parent page selector searchable in modqueue of parentless category pages
  frontend/src/components/category-guide-parent-checker.tsx
Due: Frontend Check

Explain in comments why PageAuthorResponse is hidden if not logged in
  backend/pages/api.py
Due: Backend Check

Remove unneeded props being passed to CodeBlock from MarkdownText
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Fix create_page_for_categories migration to use existing slugs
  backend/pages/migrations/0003_create_page_for_categories.py
Due: Backend Check

Only allow admins and authors to move pages to different parents
  backend/pages/api.py
  backend/pages/tests.py
Due: Backend Check

Implement environment variable to control guest edit allowance
  backend/.env.development
  backend/backend/settings.py
  backend/ediauth/auth_check.py
  cinit.yml
Due: Backend Check

Implement admin ability to restore to arbitrary page revision
  backend/pages/api.py
  frontend/src/components/page-article-history.tsx
Due: Backend Check, Frontend Check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix invalid environment variable declarations for hcaptcha
  cinit.yml
Due: none

Add missing hcaptcha sources to CSP allowlist
  backend/backend/settings.py
Due: Backend Check

Add missing backend route for frontend guide route
  backend/frontend/urls.py
Due: Backend Check

Replace HCaptcha with Cloudflare Turnstile as the latter is free
  backend/.env.development
  backend/backend/settings.py
  backend/ediauth/auth_check.py
  cinit.yml
  frontend/.env.development
  frontend/package.json
  frontend/src/components/guide-sidebar-left.tsx
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.tsx
  frontend/src/index.tsx
  frontend/src/utils/server-data.tsx
  frontend/yarn.lock
Due: Backend Check, Frontend Check

Do not run turnstile checks for admin users
  frontend/eslint.config.mjs
  frontend/src/components/guide-sidebar-left.tsx
  frontend/src/components/page-article.tsx
Due: Frontend Check

Fix inconisistent spacing between boxes on category page
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix claim button changing exam list layout above 4 columns
  frontend/src/components/exam-type-section.module.css
  frontend/src/components/exam-type-section.tsx
Due: Frontend Check

Remove inconsistent vertical page-wide padding on category page
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix hover hitbox on exam list being slightly thinner than actual row
  frontend/src/components/exam-type-section.module.css
Due: Frontend Check

Add :active styles for exam list row
  frontend/src/components/exam-type-section.module.css
Due: Frontend Check

Update privacy policy to reference Cloudflare Turnstile
  frontend/public/static/privacy-policy-diff-2026-08-18.pdf
  frontend/src/pages/privacypolicy-page.tsx
Due: Frontend Check

Extract out all category page tabs into own components to improve modularity
  frontend/src/components/category-guide.tsx
  frontend/src/components/category-resources.tsx
  frontend/src/components/category-testimonials.tsx
  frontend/src/pages/category-drps-session.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Add merge_group to CI to trigger on merge trains
  .github/workflows/ci.yaml
Due: none

Remove redundant 'Useful Links' box from category page
  frontend/src/pages/category-page.tsx
  frontend/src/utils/category-utils.tsx
Due: Frontend Check

Release: v2026.08.18-1
  CHANGELOG.md
Due: none

Improve robustness in enforcing PageParent invariants
  backend/pages/api.py
Due: Backend Check

Fix captcha failing when navigating to edit page directly
  frontend/src/components/page-article.tsx
Due: Frontend Check

Fix category/:slug/guide immediately redirecting unconditionally
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix (sometimes) horizontal width overflow on page article editor
  frontend/src/components/Editor/BasicEditor.module.css
Due: Frontend Check

Fix fullscreen editor being broken since bad merge in 0758dd34
  frontend/src/components/Editor/Editor.module.css
Due: Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
