Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*

Allow analytics domain in script content security policy
  backend/backend/settings.py
Due: Django Unit Tests

Fix CSP_CONNECT_SRC not including analytics endpoint
  backend/backend/settings.py
Due: Django Unit Tests

Addressing style?
  backend/util/s3_util.py
Due: Django Unit Tests

Remove 100 Continue from boto3 requests since it messes with RGW/Ceph in prod
  backend/util/s3_util.py
Due: Django Unit Tests

Encode display name before slugify
  backend/documents/models.py
Due: Django Unit Tests

feat: add course stats; fixes #19
  backend/categories/migrations/0018_coursestats.py
  backend/categories/models.py
  backend/categories/urls.py
  backend/categories/views.py
  backend/testing/management/commands/create_testdata.py
  frontend/src/api/hooks.ts
  frontend/src/components/category-stats.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/category-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Revert "feat: add course stats; fixes #19"
  backend/categories/migrations/0018_coursestats.py
  backend/categories/models.py
  backend/categories/urls.py
  backend/categories/views.py
  backend/testing/management/commands/create_testdata.py
  frontend/src/api/hooks.ts
  frontend/src/components/category-stats.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/category-page.tsx
Due: Django Unit Tests, Frontend Compile Test

feat: Add course_organiser to CourseStats and UI
  backend/categories/migrations/0019_coursestats_course_organiser.py
  backend/categories/models.py
  backend/categories/views.py
  backend/testing/management/commands/create_testdata.py
  frontend/src/components/category-stats.tsx
  frontend/src/interfaces.ts
Due: Django Unit Tests, Frontend Compile Test

fix: Position last year's label to left in stats to prevent overflow
  frontend/src/components/category-stats.tsx
Due: Frontend Compile Test

fix: Inline labelPosition calculation in category-stats and cast as 'any' to bypass linter since it's a valid property..
  frontend/src/components/category-stats.tsx
Due: Frontend Compile Test

Encode smarter, refuse invalid names on the backend and warn on the frontend
  backend/documents/models.py
  backend/documents/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/create-document-modal.tsx
Due: Django Unit Tests, Frontend Compile Test

First implementation of the feature
  backend/answers/urls.py
  backend/answers/views.py
  frontend/src/components/exam-panel.tsx
Due: Django Unit Tests, Frontend Compile Test

Reformat and hide the edit mode option when finishedCuts is true
  frontend/src/components/exam-panel.tsx
Due: Frontend Compile Test

Implement suggested changes
  backend/answers/urls.py
  backend/answers/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/exam-panel.tsx
Due: Django Unit Tests, Frontend Compile Test

Change the color of the release claim button to improve visibility in dark mode
  frontend/src/components/claim-button.tsx
Due: Frontend Compile Test

Add claimers for some exams in create_testdata to test this feature
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Change button styling to better differentiate between claim and release claim buttons.
  frontend/src/components/claim-button.tsx
Due: Frontend Compile Test

Apply 1 suggestion(s) to 1 file(s)
  frontend/src/components/claim-button.tsx
Due: Frontend Compile Test

Apply suggestions
  frontend/src/components/exam-panel.tsx
Due: Frontend Compile Test

Partial implementation of frontend and backend support for the feature
  backend/categories/urls.py
  backend/categories/views.py
  frontend/src/pages/home-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Delete meta categories that become unreferenced during editing
  backend/categories/views.py
Due: Django Unit Tests

Add warning pop ups before deleting meta categories
  frontend/src/components/edit-meta-categories.tsx
Due: Frontend Compile Test

Seperate the new feature into its own file
  frontend/src/components/edit-meta-categories.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Full implementation of the feature
  backend/categories/urls.py
  backend/categories/views.py
  frontend/src/components/creatable.tsx
  frontend/src/pages/home-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Make buttons only visible to admins and add a delete button for meta categories
  backend/categories/urls.py
  backend/categories/views.py
  frontend/src/pages/home-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Reload data instead of the page when data is changed
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Better handling of admin visibility
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Frontend and backend checks to prevent duplicate meta categories
  backend/categories/views.py
  frontend/src/pages/home-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Fix /api/exam/status/:filename returning 404 for exams that finished cuts
  backend/answers/views.py
Due: Django Unit Tests

refactor: Address course stats PR review comments
  backend/categories/migrations/0018_coursestats.py
  backend/categories/models.py
  backend/testing/management/commands/create_testdata.py
  frontend/src/components/category-stats.tsx
  frontend/src/pages/category-page.tsx
Due: Django Unit Tests, Frontend Compile Test

fix: add type guard
  frontend/src/components/category-stats.tsx
Due: Frontend Compile Test

Improve distinguishability of disabled vs inactive enabled category tab
  frontend/src/hooks/useCategoryTabs.tsx
Due: Frontend Compile Test

Improve tab navigation focus ring visibility for category tabs
  frontend/src/hooks/useCategoryTabs.tsx
Due: Frontend Compile Test

Fix HttpResponse being thrown away and not used for return when OIDC token request fails
  backend/myauth/views.py
Due: Django Unit Tests

Add error_description to client-facing msg when OIDC token request fails
  backend/myauth/views.py
Due: Django Unit Tests

Update the OIDC client secret (which is the staging env one) since it changed
  docker-compose.yml
Due: none

Update the OIDC client secret (again) since it changed
  docker-compose.yml
Due: none

Fix type mismatch (bytes & str) when OIDC token request fails
  backend/myauth/views.py
Due: Django Unit Tests

sort_key month value
  backend/answers/models.py
Due: Django Unit Tests
