Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Fix bad references to PageAuthr.is_anonymous
  backend/pages/api.py
Due: Backend Check

Implement patch generator for pages
  backend/pages/api.py
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Compute hasUnsavedChanges from formState instead of keeping state
  frontend/src/components/page-article.tsx
Due: Frontend Check

Refetch on article edit submission, make Enter key work
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Support filtering page list by parent and category
  backend/pages/api.py
  backend/pages/models.py
Due: Backend Check

Fix bad reference to nonexistent name field of Category
  backend/pages/api.py
Due: Backend Check

Store initial PageRevision when creating a new page
  backend/pages/api.py
  backend/pages/models.py
Due: Backend Check

Add tag to OpenAPI endpoints related to pages
  backend/pages/api.py
Due: Backend Check

Pass editing state into page article components, remove Paper padding
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.module.css
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Reveal anonymous page author if user is admin
  backend/pages/api.py
Due: Backend Check

Implement POST /api/page/ for page creation
  backend/pages/api.py
Due: Backend Check

Add message field to PageRevision
  backend/pages/models.py
Due: Backend Check

Fix 500 when both temp session and user is not given
  backend/pages/api.py
Due: Backend Check

Show editor components when PageArticle editing is true
  frontend/src/components/page-article.module.css
  frontend/src/components/page-article.tsx
Due: Frontend Check

Store anonymity of page in Revsion/Page and not in Author
  backend/pages/api.py
  backend/pages/migrations/0004_remove_pageauthor_is_anonymous_and_more.py
  backend/pages/models.py
Due: Backend Check

Create migration for PageRevision message/title_delta fields
  backend/pages/migrations/0003_pagerevision_message_pagerevision_title_delta.py
Due: Backend Check

Add cancel button to guide page editing actions
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Fix sidebar refetch upon page deletion being a race condition
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Make author link clickable in revision history list
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Return content_delta and title_delta in list_revisions API endpoint
  backend/pages/api.py
Due: Backend Check

Implement HCaptcha token requirement for temporary users
  backend/.env.development
  backend/backend/settings.py
  backend/ediauth/auth_check.py
  cinit.yml
  frontend/.env.development
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/components/page-article.tsx
  frontend/src/index.tsx
  frontend/src/utils/server-data.tsx
  frontend/yarn.lock
Due: Backend Check, Frontend Check

Fix logic error causing temporary user to execute requests twice
  backend/ediauth/auth_check.py
Due: Backend Check

Fix 'parent pages' link wrongly being anchor instead of nav link
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Show link to revision history in each guide page
  backend/pages/api.py
  frontend/src/components/page-article.module.css
  frontend/src/components/page-article.tsx
Due: Backend Check, Frontend Check

Fix page deletion not triggering sidebar refetch
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Use standard typed error schemas for Pages API
  backend/pages/api.py
Due: Backend Check

Change slug and title to be controlled to trigger unsaved checks
  frontend/src/components/page-article.tsx
Due: Frontend Check

Hide useless tooltip on guide authorship if author is temporary
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Fix PageArticle containing other pages' data when editing
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Implement /guide/:slug/history to show revision history
  frontend/src/app.tsx
  frontend/src/components/code-block.tsx
  frontend/src/components/page-article-history.tsx
  frontend/src/pages/guide-history-page.tsx
Due: Frontend Check

Refresh left sidebar when hierarchy is edited from page article
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Implement frontend for page deletion
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Extract left sidebar into own component in guide articles
  frontend/src/components/guide-sidebar-left.tsx
  frontend/src/pages/guide-history-page.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Fix lack of top margin for 'Parent Pages' header in article sidebar
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Support redaction of revision contents/messages
  backend/pages/api.py
  backend/pages/migrations/0006_pagerevision_redacted.py
  backend/pages/models.py
  frontend/src/components/page-article-history.tsx
Due: Backend Check, Frontend Check

Hide ToC in guide articles if there are no headings
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Replace Stack in left sidebar in article with expandable Tree
  frontend/src/components/guide-sidebar-left.module.css
  frontend/src/components/guide-sidebar-left.tsx
Due: Frontend Check

Fix backend returning 200 when it should return 201
  backend/pages/api.py
Due: Backend Check

Require frontend authentication to see guide revision history
  frontend/src/app.tsx
Due: Frontend Check

Allow owners to set parent pages, admins to set category
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
