Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Fix currentSelection object being recreated on keystroke if result is same
  frontend/src/hooks/useCategorisedNavigation.ts
Due: Frontend Check

Prevent re-renders of quick search result content if only changing selection index
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchResult.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchResults.tsx
Due: Frontend Check

Fix eslint wanting to use an uglier syntax for void callbacks
  frontend/eslint.config.mjs
Due: Frontend Check

Add comment explaining why categoryResults data is [] if !isGlobal
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Address eslint feedback on use of null-coalescing operator in QuickSearchBox
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Use unknown instead of any for type accuracy in maxdepth function
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Extract itemToPath to utils/search-utils to address code duplication
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchResults.tsx
  frontend/src/utils/search-utils.tsx
Due: Frontend Check

Add TODO comment for duplicate calls to itemToPath from separate files
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Fix useSearch import being erroneously removed in 934b55e6
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Fix browser freezing when PostgreSQL decides not to highlight any matches
  frontend/src/components/Navbar/QuickSearch/QuickSearchResults.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Combine HighlightedMarkdown functionality into MarkdownText
  frontend/src/components/Navbar/QuickSearch/QuickSearchResults.tsx
  frontend/src/components/markdown-text.tsx
  frontend/src/components/search-results.tsx
Due: Frontend Check

Change home-page loader to be more subtle
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Cache the homepage category data in Local Storage for faster load
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Format the subtle home-page loader with Prettier
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Fix styling of More button in the Nav header
  frontend/src/components/Navbar/ExternalNav.module.css
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Check

Address lint feedback in UoE-specific paths after upstream upgraded to ESLint v9
  frontend/src/app.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/login-overlay.tsx
Due: Frontend Check

Remove popover hint on exam list that is ETHZ specific and doesn't apply to UoE
  frontend/src/components/exam-list.tsx
Due: Frontend Check

Fix extraneous arrow showing on home page if Meta 2 is empty string
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Fix light mode TopHeader using --mantine-color-anchor instead of parent's color
  frontend/src/components/Navbar/BottomHeader.module.css
  frontend/src/components/Navbar/ExternalNav.module.css
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Check

Fix listmetacategories being fetched freshly for every meta category on homepage
  frontend/src/api/hooks.ts
Due: Frontend Check

improve sort key function
  backend/answers/models.py
Due: Backend Check

Fix lacking permission checks for image deletion API
  backend/images/tests.py
  backend/images/views.py
Due: Backend Check

Fix tab closing due to call to undefined 'close' calling window.close()
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchResults.tsx
Due: Frontend Check

only transform image urls on img tags
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Fix document list not refreshing when navigating between categories
  frontend/src/api/hooks.ts
Due: Frontend Check

Remove unused GitLab CI and GitPod setup
  .gitlab-ci.yml
  .gitpod.yml
Due: none

Remove unused SIP deployment description file
  sip.yml
Due: none

Update direct path favicon to be the Better Informatics camel
  docker-compose.yml
  frontend/public/favicon.ico
Due: Frontend Check

Allow markdown in announcement
  frontend/src/components/Navbar/AnnouncementHeader.tsx
Due: Frontend Check

Fix backend crashing trying to sort tuple against datetime
  backend/answers/models.py
Due: Backend Check

Add type hints to exam sort_key generation code for clarity
  backend/answers/models.py
Due: Backend Check

Use Python 3.8 compatible type hints as we're still on 3.8
  backend/answers/models.py
Due: Backend Check

Fix backend crashing trying to sort int against datetime
  backend/answers/models.py
Due: Backend Check

Improve CI deployment to accurately wait for successful rollout
  .github/workflows/ci.yaml
Due: none

Notify on successful deployment with diff
  .github/workflows/ci.yaml
Due: none

Fix visual errors in CI notification message
  .github/workflows/ci.yaml
Due: none

Add missing 'fields' attribute from CI notification message
  .github/workflows/ci.yaml
Due: none

Make buttons less annoying
  frontend/src/components/edit-meta-categories.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Sort by newest and remove unused imports
  frontend/src/pages/feedback-page.tsx
Due: Frontend Check
