Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*

Run typecheck and lint explicitly in CI instead of build
  .gitlab-ci.yml
Due: none

Fix missing trailing comma and redundant property value in markdown-text component
  frontend/src/components/markdown-text.tsx
Due: Frontend Compile Test

Add .epub to allowed filetype list
  backend/backend/settings.py
  frontend/src/components/create-document-file-modal.tsx
  frontend/src/components/document-file-item.tsx
Due: Django Unit Tests, Frontend Compile Test

Push/pull layer cache when building with Kaniko in CI
  .gitlab-ci.yml
Due: none

Fix container frontend
  Dockerfile
  frontend/package.json
Due: Frontend Compile Test

Remove unused dockerfile
  Dockerfile
  util/frontend.Dockerfile
Due: none

Remove cache
  backend/categories/views.py
  backend/util/func_cache.py
Due: Django Unit Tests

Lexicographic sorting by name
  frontend/src/components/document-list.tsx
Due: Frontend Compile Test

Fix frontend-dev container
  Dockerfile
  docker-compose.yml
  frontend/package.json
  frontend/vite.config.ts
Due: Frontend Compile Test

Fix NativeSelect event handler
  frontend/src/components/exam-metadata-editor.tsx
Due: Frontend Compile Test

Resolve "New Answer Formatting decreases Readability"
  frontend/src/components/markdown-text.tsx
Due: Frontend Compile Test

Various default category fixes
  backend/categories/migrations/0011_add_default_category_if_not_exists.py
  backend/categories/views.py
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/pages/category-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Documents last edit/update
  backend/documents/migrations/0014_document_edittime_document_time.py
  backend/documents/models.py
  backend/documents/views.py
  frontend/src/components/document-settings.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/document-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Update all non-major dependencies
  frontend/yarn.lock
Due: Frontend Compile Test

Limit Exam PDFs to 2.5MB
  frontend/src/components/upload-pdf-card.tsx
Due: Frontend Compile Test

Revert "Merge branch 'limit-exam-pdf-size' into 'master'"
  frontend/src/components/upload-pdf-card.tsx
Due: Frontend Compile Test

Revert "Merge branch 'renovate-patch-all-minor-patch' into 'master'"
  frontend/yarn.lock
Due: Frontend Compile Test

Update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Compile Test

Update dependency @types/react to v18.2.75
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Compile Test

Add @sms.ed.ac.uk email into database after 202d88ab
  backend/ediauth/auth_backend.py
  backend/ediauth/views.py
Due: Django Unit Tests

link to by-nc-sa cc license now works.
  frontend/src/components/answer.tsx
  frontend/src/components/exam-panel.tsx
Due: Frontend Compile Test

Don't add admin role to all users when testing even with IS_PREVIEW
  backend/ediauth/auth_backend.py
Due: Django Unit Tests

Fix document tests throwing exceptions with author_displayname field
  backend/documents/tests.py
Due: Django Unit Tests

Fix nondeterministic exam list sorting in tests using ComsolTestExamsData
  backend/testing/tests.py
Due: Django Unit Tests

Fix bad type check with MantineColorsTuple type
  frontend/src/app.tsx
Due: Frontend Compile Test

Fix various frontend props to be compatible with Mantine v7
  frontend/src/components/Editor/index.tsx
  frontend/src/components/document-file-item.tsx
  frontend/src/components/document-list.tsx
  frontend/src/components/login-overlay.tsx
  frontend/src/components/user-displayname-settings.tsx
  frontend/src/pages/not-found-page.tsx
Due: Frontend Compile Test

Fix margin being incorrectly smaller for UserScoreCard after Mantine v7
  frontend/src/components/user-score-card.tsx
Due: Frontend Compile Test

Fix LoadingOverlay spinner overlay being lower after Mantine v7
  frontend/src/components/loading-overlay.tsx
Due: Frontend Compile Test

Fix larger-than-expected margin above frontend community knowledgebase
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Fix Loader position in frontend exam page
  frontend/src/pages/exam-page.tsx
Due: Frontend Compile Test

Update dependency @types/react to v18.2.78
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Compile Test

Remove underline from document author, make deanonymised author clickable
  frontend/src/pages/document-page.tsx
Due: Frontend Compile Test

Fix frontend mobile navbar alignment not being a valid value
  frontend/src/components/Navbar/MobileHeader.tsx
Due: Frontend Compile Test

Ignore HTML in knowledgebase markdown instead of escaping
  frontend/src/components/markdown-text.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Show Chevron icon on Show/Hide answers button, rename move cancel button
  frontend/src/components/answer-section.tsx
Due: Frontend Compile Test

Hide answer section buttons while editing its contents
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

Match answer comment draft cancellation button with answer buttons
  frontend/src/components/comment.tsx
Due: Frontend Compile Test

change to 'useDisclosure' hook
  frontend/src/app.tsx
  frontend/src/components/Debug/DebugModal.tsx
  frontend/src/components/Editor/EditorFooter.tsx
  frontend/src/components/Editor/EditorHelp.tsx
  frontend/src/components/Editor/index.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/create-document-file-modal.tsx
  frontend/src/components/create-document-modal.tsx
  frontend/src/components/document-file-item.tsx
  frontend/src/components/document-list.tsx
  frontend/src/components/document-settings.tsx
  frontend/src/components/hide-answer-section-overlay.tsx
  frontend/src/components/image-overlay.tsx
  frontend/src/pages/document-page.tsx
  frontend/src/pages/exam-page.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test
