Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*

Fix return scoping
  backend/util/middleware.py
Due: Django Unit Tests

Make Favourites Tab only visible if signed in
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Fix text not being selectable in exam papers and documents
  frontend/package.json
  frontend/src/components/pdf-section-text.tsx
  frontend/src/pdf/pdfjs.js
  frontend/yarn.lock
Due: Frontend Compile Test

Use spread operator instead
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Use legacy mode of pdfjs v4 for compatibility with iPad Safari and older browsers
  frontend/src/pdf/pdfjs.js
Due: Frontend Compile Test

Update all non-major dependencies
  frontend/yarn.lock
Due: Frontend Compile Test

Update dependency react-markdown to v9.0.3
  frontend/yarn.lock
Due: Frontend Compile Test

do not transform mailto links in markdown
  frontend/src/components/markdown-text.tsx
Due: Frontend Compile Test

Delete the font overrides for the editor and use the default
  frontend/src/components/Editor/BasicEditor.module.css
Due: Frontend Compile Test

fix transcript uploader link
  backend/answers/views_listings.py
Due: Django Unit Tests

added redirect to homepage from fachvereins logo, if homepage field is set in vseth static config
  frontend/src/app.tsx
  frontend/src/components/Navbar/TopHeader.tsx
  frontend/src/components/Navbar/constants.ts
  frontend/src/components/footer.tsx
Due: Frontend Compile Test

Resolve "Can't add documents in the test environment"
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Resolve "Warn users before deleting document files"
  frontend/src/components/document-file-item.tsx
Due: Frontend Compile Test

Update dependency date-fns to v4
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Compile Test

Create a GitHub CI replicating GitLab CI (no deploy yet)
  .github/workflows/ci.yaml
Due: none

Fix $default-branch not being an actual feature we can use
  .github/workflows/ci.yaml
Due: none

Fix typecheck/lint stage running unconditionally
  .github/workflows/ci.yaml
Due: none

Debugging why build stage doesn't run post-merge
  .github/workflows/ci.yaml
Due: none

Fix CI build stage requiring UTs/lints to always run
  .github/workflows/ci.yaml
Due: none

Remove redundant duplicated docker build in CI
  .github/workflows/ci.yaml
Due: none

Remove redundant conditional in CI build-push-action push key
  .github/workflows/ci.yaml
Due: none

Separate CI build cache into a different container so it's not confusing
  .github/workflows/ci.yaml
Due: none

Add name to each CI job for better UX
  .github/workflows/ci.yaml
Due: none

Add deploy job to GitHub CI
  .github/workflows/ci.yaml
Due: none

Fix mobile navigation bar text colours
  frontend/src/components/Navbar/MobileHeader.module.css
  frontend/src/components/Navbar/MobileHeader.tsx
Due: Frontend Compile Test

Fix Deploy stage not running if either of Typecheck/UTs were skipped
  .github/workflows/ci.yaml
Due: none

Fix frontend CI cache not working due to alpine image
  .github/workflows/ci.yaml
Due: none

Fix secrets not being passed to CI correctly
  .github/workflows/ci.yaml
Due: none

Update repo location
  frontend/public/static/config.js
Due: Frontend Compile Test

Update repo location
  frontend/src/pages/feedback-page.tsx
Due: Frontend Compile Test

Fix styling of More button in the Nav header
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Compile Test

Lint: Dangling comma
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Compile Test

Resolve "Website Theme should take systemdefaults"
  frontend/src/components/color-scheme-toggle.tsx
  frontend/src/index.tsx
Due: Frontend Compile Test

add issue templates
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/feature_request.md
Due: none

Resolve "Allow changing document category as uploader"
  frontend/src/api/hooks.ts
  frontend/src/components/document-settings.tsx
Due: Frontend Compile Test

Migrate to Mantine v8
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Compile Test

Fix answers being hard to distinguish from each other
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

Fix all eslint warnings and format some files
  frontend/src/api/favourite.ts
  frontend/src/app.tsx
  frontend/src/components/Editor/EditorFooter.tsx
  frontend/src/components/Navbar/MobileHeader.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/create-document-modal.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/components/document-list.tsx
  frontend/src/components/document-pdf.tsx
  frontend/src/components/exam-list.tsx
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/panel-left.tsx
  frontend/src/components/pdf-panel-base.tsx
  frontend/src/components/user-score-card.tsx
  frontend/src/pages/category-page.tsx
  frontend/src/pages/exam-page.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Missed some files
  frontend/src/components/Navbar/MobileHeader.tsx
  frontend/src/components/category-card.tsx
  frontend/src/components/comment-single.tsx
  frontend/src/components/exam-type-section.tsx
Due: Frontend Compile Test
