Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Fix backend diss redaction endpoint to take single comma-split string
  backend/dissertations/api.py
Due: Backend Check

Ignore empty redaction words in backend
  backend/dissertations/api.py
Due: Backend Check

Extract backend redaction logic to own function, use tempfile to prevent clashes
  backend/dissertations/api.py
Due: Backend Check

Support redaction of dissertations when uploading
  backend/dissertations/api.py
Due: Backend Check

Implement diss redaction frontend and add important info
  frontend/src/api/hooks.ts
  frontend/src/interfaces.ts
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Rewrite DissertationListPage to use centralised useRequest hook for requests
  frontend/src/api/hooks.ts
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Improve layout of dissertation list page
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Show only larger loading indicator on diss list page if taking a while
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Improve layout of dissertation detail page and use central hooks
  frontend/src/api/hooks.ts
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Implement many-to-many link of dissertations and categories in backend
  backend/categories/models.py
  backend/categories/views.py
  backend/dissertations/migrations/0005_dissertation_relevant_categories.py
  backend/dissertations/models.py
Due: Backend Check

Support setting/updating relevant categories for a diss by slug
  backend/dissertations/api.py
Due: Backend Check

Return relevant category display name in diss backend response too
  backend/dissertations/api.py
Due: Backend Check

Include relevant courses in frontend dissertation detail page
  frontend/src/interfaces.ts
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Implement backend filtering list of dissertations by category slug
  backend/dissertations/api.py
  frontend/src/api/hooks.ts
Due: Backend Check, Frontend Check

Implement placeholder relevant dissertation list for category page
  frontend/src/components/dissertation-list.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Extract DissertationList as a component to reuse across category and diss pages
  frontend/src/components/dissertation-list.tsx
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Inline unnecessary 'DissertationListWrapper' component into category page
  frontend/src/components/dissertation-list.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Implement prop for disabling search in dissertation list component
  frontend/src/components/dissertation-list.tsx
Due: Frontend Check

Disable dissertation search when viewed from category page, improve copy
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Use Anchor instead of raw Link in DissertationListPage for color consistency
  frontend/src/components/dissertation-list.tsx
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Include relevant courses in dissertation list page, use top alignment
  frontend/src/components/dissertation-list.tsx
Due: Frontend Check

Rename 'Topics' to 'Topic Tags' in dissertation detail page for consistency
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Reduce column count in dissertation list and add year/level under title
  frontend/src/components/dissertation-list.tsx
Due: Frontend Check

Fix backend diss relevant categories to take comma-string instead of list
  backend/dissertations/api.py
Due: Backend Check

Implement frontend multi-selection of relevant categories for a diss upload
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Add breadcrumb to dissertation list page
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Add download button and (nonfunctional) edit button in diss detail page
  frontend/src/app.tsx
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Add placeholder /dissertation/:id/edit route to frontend
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Don't show empty table while dissertation list is loading
  frontend/src/components/dissertation-list.tsx
Due: Frontend Check

Use ContentContainer in dissertation list page for consistency
  frontend/src/components/dissertation-list.tsx
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Remove hardcoded unnecessary bottom margin on 'Add My Dissertation' button'
  frontend/src/components/dissertation-list.tsx
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Combine dissertations into 'Resources' tab in category for visibility
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Change color of 'no documents yet' alert from jarring orange to primary color
  frontend/src/components/document-list.tsx
Due: Frontend Check

Fix dissertation action buttons wrapping when title is long
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Compute dissertation can_edit in backend for security
  backend/dissertations/api.py
  frontend/src/interfaces.ts
  frontend/src/pages/DissertationDetailPage.tsx
Due: Backend Check, Frontend Check

Use compsocMain for no-exams alert for consistency with no-documents alert
  frontend/src/components/exam-list.tsx
Due: Frontend Check

Rename dissertation related pages to kebab-case for consistency
  frontend/src/app.tsx
  frontend/src/pages/dissertation-detail-page.tsx
  frontend/src/pages/dissertation-list-page.tsx
  frontend/src/pages/dissertation-upload-page.tsx
Due: Frontend Check

Fix Form not working with multipart/form-data in dissertation PUT request
  backend/dissertations/api.py
  backend/util/middleware.py
Due: Backend Check

Implement dissertation edit functionality in frontend
  frontend/src/api/hooks.ts
  frontend/src/pages/dissertation-detail-page.tsx
  frontend/src/pages/dissertation-upload-page.tsx
Due: Frontend Check

Implement dissertation delete functionality in frontend
  frontend/src/api/hooks.ts
  frontend/src/pages/dissertation-upload-page.tsx
Due: Frontend Check
