Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

initialize mise
  mise.toml
Due: none

initialize uv for local dev and remove old requirements.txt
  backend/.env.development
  backend/.gitignore
  backend/.python-version
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: Backend Check

update and minimize local development setup in readme
  README.md
Due: none

update dockerfiles to use uv
  Dockerfile
  backend/.env.development
  backend/backend/settings.py
  cinit.yml
  docker-compose.yml
  mise.toml
Due: Backend Check

fix typing error preventing the building of the frontend
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Add profiles readme note
  .gitignore
  README.md
Due: none

Create Official Answers 'account'
  backend/answers/migrations/0017_remove_answer_is_legacy_answer_answer_kind.py
  backend/answers/models.py
  backend/answers/section_util.py
  backend/answers/views_answers.py
  backend/answers/views_listings.py
  backend/notifications/notification_util.py
  backend/scoreboard/views.py
  backend/testing/management/commands/create_testdata.py
  backend/testing/tests.py
  frontend/src/api/hooks.ts
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/user-answers.tsx
  frontend/src/interfaces.ts
Due: Backend Check, Frontend Check

Try rendering a pdf
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

custom Markdown for official solutions
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/code-block.tsx
Due: Frontend Check

Apply 1 suggestion(s) to 1 file(s)
  backend/testing/tests.py
Due: Backend Check

Fix frontend build
  frontend/src/api/exam-loader.ts
Due: Frontend Check

try rendering a pdf.
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

Migration madness
  backend/answers/migrations/0017_migrate_legacy_to_answer_kind.py
  backend/answers/migrations/0017_remove_answer_is_legacy_answer_answer_kind.py
  backend/categories/migrations/0004_add_category_meta_view.py
  backend/categories/migrations/0008_count_ignore_hidden.py
  backend/scoreboard/migrations/0002_add_user_score.py
  backend/scoreboard/migrations/0003_add_document_score.py
  backend/scoreboard/models.py
Due: Backend Check

Add official solutions pdf rendering and official solution markdown parsing
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/code-block.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

add missing types
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

Fix type issues
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

add useMemo to prevent component to rerender
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

fix some more types
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

Add support for official solutions in comments
  frontend/src/components/answer.tsx
  frontend/src/components/comment-section.tsx
  frontend/src/components/comment.tsx
Due: Frontend Check

add null as allowed value for value
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

Correct relative coordinates in pdf rendering and add handle invalid pages
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

Fix type errors
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

remove some comments
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

add targetedwidth
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Add PdfCoordinates interface
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

Formatting
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

fix cordinate switch bug
  frontend/src/components/OfficialSolution.tsx
Due: Frontend Check

scale according to the site scale
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment-section.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

rename soulution_file to solutionFile for more consistency
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment-section.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Decouple Official Solution Rendering from MarkdownText
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Rename ComponentRenderer
  frontend/src/components/OfficialSolution.tsx
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Rename file
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Add maximum scale of 2.5
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Add maximum scale
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Add Tooltip to Official Solution
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Starting generalization for solution embedding (very WIP)
  docker-compose.yml
  frontend/src/components/markdown-text.tsx
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Refactor to make it more readable
  docker-compose.yml
  frontend/src/components/official-solution.tsx
Due: Frontend Check

attempt at caching of canvas , add pdf to userpage, fix type
  frontend/src/components/answer.tsx
  frontend/src/components/official-solution.tsx
Due: Frontend Check

fix rerender issue
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/markdown-text.tsx
  frontend/src/components/official-solution.tsx
Due: Frontend Check

incorperating all the helpfull feedback
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment-section.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/official-solution.tsx
Due: Frontend Check
