Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Hide guide as primary tab in category page due to pervasiveness of empty pages
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Match backend permission for deleting static_html pages with frontend
  backend/pages/api.py
Due: Backend Check

Fix lack of timezone when setting Page.edited_at
  backend/pages/api.py
Due: Backend Check

Fix wrapping of guide page category return link on mobile
  frontend/src/components/page-article.tsx
Due: Frontend Check

Fix link text not being desired color in category page embedded guides
  frontend/src/components/page-article-content.module.css
  frontend/src/components/page-article-content.tsx
  frontend/src/components/page-article.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Implement animated ToC highlighting based on scroll position
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/hooks/useTableOfContents.tsx
Due: Frontend Check

Move migration functions outside migration class
  backend/pages/migrations/0007_pageparent_alter_page_parents.py
  backend/pages/migrations/0008_create_page_for_categories.py
Due: Backend Check

Better error when setting a page's category to an already taken one
  backend/pages/api.py
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.tsx
Due: Backend Check, Frontend Check

Fix top-level PageParent relation always having 0 as order
  backend/pages/api.py
  backend/pages/migrations/0003_create_page_for_categories.py
Due: Backend Check

Allow title/content to be None when updating a page to keep existing
  backend/pages/api.py
  backend/pages/migrations/0008_create_page_for_categories.py
Due: Backend Check

Implement preview functionality for HTML (idempontency not guaranteed)
  frontend/src/components/html-editor.tsx
  frontend/src/components/page-article.tsx
Due: Frontend Check

On articles, show list of category pages filed under it
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.tsx
Due: Frontend Check

Implement admin checker for category guides with no parents
  frontend/src/components/category-guide-parent-checker.tsx
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/components/user-set-editor.tsx
  frontend/src/pages/modqueue-page.tsx
Due: Frontend Check

Set temp_session_id cookie to last 90 days instead of browser session
  backend/ediauth/auth_check.py
Due: Backend Check

Remove prompt for 'edit' on static_html guide pages
  frontend/src/components/page-article-content.tsx
Due: Frontend Check

Set browser page title for guide and dissertation pages
  frontend/src/components/page-article.tsx
  frontend/src/pages/dissertation-list-page.tsx
Due: Frontend Check

Fix long guide page headings causing sidebar width expansion
  frontend/src/hooks/useTableOfContents.tsx
Due: Frontend Check

Revert ebdf8b9c3 as empty list cannot be urlencoded
  backend/pages/api.py
  backend/pages/tests.py
  backend/testing/tests.py
  frontend/src/components/page-article.tsx
Due: Backend Check, Frontend Check

Fix page deletion not creating top-level parent relationships for children
  backend/pages/api.py
Due: Backend Check

Use multipart form data for POST /api/page for consistency
  backend/pages/api.py
Due: Backend Check

Fix euclid code badges not highlighting correctly in edge cases
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Allow temp users to delete pages that they created
  backend/pages/api.py
Due: Backend Check

Default to creating a guide page for category upon category creation
  backend/categories/views.py
  backend/pages/api.py
  frontend/src/pages/home-page.tsx
Due: Backend Check, Frontend Check

Fix non-admins being able to assign categories due to faulty logic
  backend/pages/api.py
Due: Backend Check

Fix category edit button linking to bad path from non-main tab
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Show placeholder text in page article if content is empty
  frontend/src/components/page-article.tsx
Due: Frontend Check

Fix wrapping of page revision history return link on mobile
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Support image uploads for Editor component in guide pages
  frontend/src/components/page-article.tsx
Due: Frontend Check

Fix inability to call create_page_nochecks within migration
  backend/pages/migrations/0008_create_page_for_categories.py
Due: Backend Check

Reorganise and consolidate Pages migrations
  backend/pages/migrations/0001_initial.py
  backend/pages/migrations/0002_alter_pageauthor_temp_user_delete_temporaryuser.py
  backend/pages/migrations/0002_set_top_level_parents.py
  backend/pages/migrations/0003_create_page_for_categories.py
  backend/pages/migrations/0003_pagerevision_message_pagerevision_title_delta.py
  backend/pages/migrations/0004_remove_pageauthor_is_anonymous_and_more.py
  backend/pages/migrations/0005_alter_page_category.py
  backend/pages/migrations/0006_pagerevision_redacted.py
Due: Backend Check

Skip hcaptcha backend verification under tests
  backend/ediauth/auth_check.py
Due: Backend Check

Reduce height and font size of revision message box to fit more
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Create HtmlEditor component that allows image upload for HTML guides
  frontend/src/components/html-editor.tsx
  frontend/src/components/page-article.tsx
Due: Frontend Check

Implement permission checks for Pages API
  backend/pages/tests.py
  backend/testing/tests.py
Due: Backend Check

Disallow making a category guide a child of another category guide
  frontend/src/components/category-guide-parent-checker.tsx
Due: Frontend Check

Remove unused imports from PageArticle
  frontend/src/components/page-article.tsx
Due: Frontend Check

Fix page article revision message being stale after first submission
  frontend/src/components/page-article.tsx
Due: Frontend Check

Disable guide tab on category page if no guide exists
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Remove unused imports from CategoryMetadataEditor
  frontend/src/components/category-metadata-editor.tsx
Due: Frontend Check

Fix delete_page not actually reparenting its children
  backend/pages/api.py
Due: Backend Check
