Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Use CanvasRenderer in grade stats charts for consistency
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Fix axisPointer triggering emphasis when no series hovered
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Reduce vertical height of grade stat chart tooltips
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Use CanvasRenderer in CourseworkExamRatioChart for consistency
  frontend/src/components/Charts/CourseworkExamRatioChart.tsx
Due: Frontend Check

Use primary color in stats graphs
  frontend/src/pages/scoreboard-page.tsx
Due: Frontend Check

Fix grade stat chart series merging when navigating
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Add dark mode support for site-wide stat charts
  frontend/src/pages/scoreboard-page.tsx
Due: Frontend Check

Extract category stat chart into its own file
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Sort imports in category stat components
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Make grade stats chart gridlines dashed for less contrast
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Add dark mode support for grade stat chart
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Show 6 months of site stats by default instead of 90 days
  frontend/src/pages/scoreboard-page.tsx
Due: Frontend Check

Fix eslint warnings and type issues in grade stat charts
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Improve legibility of grade stat labels in crowded charts
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Add legend to grade stats chart
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Fix flash of wrong background color in charts on dark mode
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/pages/scoreboard-page.tsx
Due: Frontend Check

Fix privacy policy noncompliance with GDPR
  frontend/public/static/privacy-policy-diff-2026-06-01.pdf
  frontend/src/pages/privacypolicy-page.tsx
Due: Frontend Check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Improve performance of site-wide stat calculation
  backend/stats/views.py
Due: Backend Check

Update 2026 roadmap with new features
  README.md
Due: none

Update 2026 roadmap with new features (#111)
  README.md
Due: none

Fix incorrect use of sum on aggregate in stats calculation
  backend/stats/tests.py
  backend/stats/views.py
Due: Backend Check

Fix AnswerSection stats not grouping by id
  backend/stats/views.py
Due: Backend Check

feat: list testimonials by course
  backend/backend/settings.py
  backend/backend/urls.py
  backend/testimonials/__init__.py
  backend/testimonials/admin.py
  backend/testimonials/apps.py
  backend/testimonials/migrations/0001_initial.py
  backend/testimonials/migrations/__init__.py
  backend/testimonials/models.py
  backend/testimonials/tests.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/src/api/testimonials.ts
  frontend/src/components/testimonial-card.tsx
  frontend/src/pages/category-page.tsx
Due: Backend Check, Frontend Check

Show standard deviation in grades using error bars
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Fix unknown/any echarts types in CategoryGradeStatChart
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Show number of active student users in stats view
  backend/stats/views.py
  frontend/src/interfaces.ts
  frontend/src/pages/scoreboard-page.tsx
Due: Backend Check, Frontend Check

Refer to 'disabled users' as 'inactive users' for clarity
  backend/stats/views.py
Due: Backend Check

Feature to pin lectures for easy access
  backend/categories/migrations/0013_categoryuserpinned.py
  backend/categories/models.py
  backend/categories/urls.py
  backend/categories/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/components/category-card.tsx
  frontend/src/components/course-categories-panel.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/home-page.tsx
Due: Backend Check, Frontend Check

Remove Changelog modal, put indicator in navbar
  frontend/src/app.tsx
  frontend/src/components/ChangelogNotifier.tsx
  frontend/src/hooks/useChangelog.tsx
Due: Frontend Check

Extract the repeated badge component in navbar
  frontend/src/app.tsx
Due: Frontend Check

Make changelog page less barebones
  frontend/src/hooks/useChangelog.tsx
  frontend/src/pages/changelog-page.tsx
  frontend/src/utils/changelog.ts
Due: Frontend Check

Fix navbar badge not disappearing when viewing changelog page
  frontend/src/hooks/useChangelog.tsx
Due: Frontend Check

Fix no changelog entries being highlighted if none seen before
  frontend/src/pages/changelog-page.tsx
Due: Frontend Check

Change navbar badge for unread changelog to sparkles
  frontend/src/app.tsx
Due: Frontend Check

Show small indicator on mobile if collapsed navbar contains badge
  frontend/src/app.tsx
  frontend/src/components/Navbar/ExternalNav.tsx
  frontend/src/components/Navbar/GlobalNav.ts
  frontend/src/components/Navbar/MobileHeader.tsx
Due: Frontend Check

Propagate indicator of child nav item to parent
  frontend/src/app.tsx
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Check

Show mobile navbar indicator even for child items
  frontend/src/app.tsx
  frontend/src/components/Navbar/MobileHeader.tsx
Due: Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
