Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Django Unit Tests:
  stage: test
  image: python:3.8
  services:
  - postgres:16
  - name: minio/minio:RELEASE.2023-10-25T06-33-25Z
    command:
    - server
    - /minio
    alias: minio
  before_script:
  - curl https://dl.min.io/client/mc/release/linux-amd64/mc --create-dirs -o mc
  - chmod +x ./mc
  ...

Frontend Compile Test:
  stage: test
  image: node:20-alpine
  before_script:
  - cd frontend
  script:
  - yarn --ignore-engines
  - CI=false yarn run build

Fix visual regression with padding after deleting an answer draft
  frontend/src/components/answer-section.tsx
Due: Frontend Compile Test

Fix not being able to set empty display name
  frontend/src/components/user-displayname-settings.tsx
Due: Frontend Compile Test

Truncate long display names in frontend UI with ellipsis
  frontend/src/components/answer.tsx
  frontend/src/components/comment-single.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/components/feedback-entry.tsx
  frontend/src/components/search-results.tsx
  frontend/src/components/user-score-card.tsx
  frontend/src/pages/document-page.tsx
  frontend/src/utils/display-name.module.css
Due: Frontend Compile Test

Fix indentation misalignment caused by ef44ab28
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/pages/document-page.tsx
Due: Frontend Compile Test

Limit display names to 32 characters anyway
  backend/ediauth/views.py
  frontend/src/components/user-displayname-settings.tsx
Due: Django Unit Tests, Frontend Compile Test

Add announcement headers
  backend/backend/settings.py
  backend/requirements.txt
  cinit.yml
  frontend/.env.development
  frontend/src/app.tsx
  frontend/src/components/Navbar/AnnouncementHeader.tsx
  frontend/src/utils/server-data.tsx
Due: Django Unit Tests, Frontend Compile Test

Small improvements
  backend/backend/settings.py
  frontend/.env.development
  frontend/src/components/Navbar/AnnouncementHeader.tsx
  frontend/src/utils/server-data.tsx
Due: Django Unit Tests, Frontend Compile Test

Secretely adding caniuse-lite update here
  frontend/yarn.lock
Due: Frontend Compile Test

Fix KaTeX overflowing in aligned environments with a CSS workaround
  frontend/src/components/markdown-text.module.css
Due: Frontend Compile Test

Fix existing KaTeX font size CSS not applying due to lack of :global
  frontend/src/components/markdown-text.module.css
Due: Frontend Compile Test

Update (probably unused) copyright year in config.js
  frontend/public/static/config.js
Due: Frontend Compile Test

Update Contact and Event links for the comp-soc.com redesign
  frontend/public/static/config.js
Due: Frontend Compile Test

Remove SIGs list link from footer due to 404
  frontend/public/static/config.js
Due: Frontend Compile Test

Update frontend/public/static/config.js
  frontend/public/static/config.js
Due: Frontend Compile Test

Tailor the test instance welcome announcement for Edinburgh
  frontend/.env.development
Due: Frontend Compile Test

Bump @mantine/charts to 8.0.0 following upstream bump to Mantine v8
  frontend/package.json
Due: Frontend Compile Test

Update development environment favicon to use BI camel
  frontend/.env.development
Due: Frontend Compile Test

Fix linter errors
  frontend/src/components/Navbar/AnnouncementHeader.tsx
  frontend/src/components/Navbar/TopHeader.tsx
  frontend/src/components/color-scheme-toggle.tsx
Due: Frontend Compile Test

Fix `mc config` being deprecated and unavailable in CI
  .github/workflows/ci.yaml
Due: none

Implement anonymous answering functionality
  backend/answers/migrations/0017_answer_is_anonymous.py
  backend/answers/models.py
  backend/answers/section_util.py
  backend/answers/views_answers.py
  backend/answers/views_listings.py
  frontend/src/api/hooks.ts
  frontend/src/components/answer.tsx
  frontend/src/interfaces.ts
Due: Django Unit Tests, Frontend Compile Test

Fix linking to anonymous user on user answers view
  backend/answers/section_util.py
Due: Django Unit Tests

change icon and add tooltip to make link more clear
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

Tooltips and explicit warning about anonymity to admins
  frontend/src/components/answer.tsx
  frontend/src/components/user-answers.tsx
Due: Frontend Compile Test

Use shrinkable usernames
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

Resolving merge conflicts gone wrong
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

add link to feedback
  frontend/src/components/exam-list.tsx
Due: Frontend Compile Test

Correct the links
  frontend/src/components/user-answers.tsx
  frontend/src/components/user-comments.tsx
  frontend/src/pages/feedback-page.tsx
Due: Frontend Compile Test

Require apt-get update
  Dockerfile
Due: none

make feedback appear if less than 10 exams are there
  frontend/src/components/exam-list.tsx
  frontend/yarn.lock
Due: Frontend Compile Test

Reorganise post-fork upstream migrations (part 1 of 2)
  backend/categories/migrations/0017_2040413_merge_upstream.py
  backend/documents/migrations/0015_20240413_merge_upstream.py
Due: Django Unit Tests

Added Dissertation Archive
  Dockerfile
  backend/backend/settings.py
  backend/backend/urls.py
  backend/dissertations/__init__.py
  backend/dissertations/admin.py
  backend/dissertations/apps.py
  backend/dissertations/migrations/0001_initial.py
  backend/dissertations/migrations/0002_dissertation_study_level.py
  backend/dissertations/migrations/__init__.py
  backend/dissertations/models.py
  backend/dissertations/tests.py
  backend/dissertations/urls.py
  backend/dissertations/views.py
  backend/manage.py
  backend/requirements.txt
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
  frontend/yarn.lock
Due: Django Unit Tests, Frontend Compile Test

Fix frontend CI
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Compile Test

Revert package update to fix python CI
  backend/requirements.txt
Due: Django Unit Tests

Fix lint errors
  frontend/src/components/Navbar/ExternalNav.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/comment.tsx
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Compile Test

Add optional grade field
  backend/dissertations/migrations/0003_dissertation_grade_band.py
  backend/dissertations/models.py
  backend/dissertations/views.py
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Django Unit Tests, Frontend Compile Test

Update Dockerfile to remove noreload
  Dockerfile
Due: none

Fix the urls in backend/frontend/urls.py
  backend/frontend/urls.py
Due: Django Unit Tests

Add minio to CSP_FRAME_SRC
  backend/backend/settings.py
Due: Django Unit Tests

Add year field to diss upload
  backend/dissertations/migrations/0004_dissertation_year.py
  backend/dissertations/models.py
  backend/dissertations/views.py
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Django Unit Tests, Frontend Compile Test

Added testimonials tab and basic table
  backend/backend/settings.py
  backend/backend/urls.py
  backend/testimonials/__init__.py
  backend/testimonials/admin.py
  backend/testimonials/apps.py
  backend/testimonials/migrations/__init__.py
  backend/testimonials/models.py
  backend/testimonials/tests.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/package.json
  frontend/src/api/hooks.ts
  frontend/src/app.tsx
  frontend/src/pages/testimonials-page.tsx
  frontend/yarn.lock
Due: Django Unit Tests, Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*
