Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*

Update dependency @types/react to v18.2.79
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Compile Test

Add unit tests for ediauth module
  backend/ediauth/tests.py
Due: Django Unit Tests

Modify create_testdata Django command to generate valid testdata
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Fix ediauth unittest failing when generated OTP code began with zero
  backend/ediauth/tests.py
Due: Django Unit Tests

Update dependency vite to v5.2.9
  frontend/yarn.lock
Due: Frontend Compile Test

Add a DocumentPanel for zooming and navigating PDF documents
  frontend/src/components/document-pdf.tsx
  frontend/src/components/exam-panel.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/pdf-panel-base.tsx
  frontend/src/pages/exam-page.tsx
  frontend/src/pdf/pdf-section-canvas.tsx
Due: Frontend Compile Test

Fix 'error'-level frontend problems reported by linter
  frontend/src/components/document-pdf.tsx
  frontend/src/makeVsethTheme.ts
Due: Frontend Compile Test

Update dependency vite to v5.2.10
  frontend/yarn.lock
Due: Frontend Compile Test

Category card rework
  backend/categories/migrations/0012_add_document_count_to_meta.py
  backend/categories/models.py
  backend/categories/views.py
  frontend/src/components/category-card.tsx
  frontend/src/interfaces.ts
Due: Django Unit Tests, Frontend Compile Test

Fix categories panel
  frontend/src/components/category-card.tsx
  frontend/src/components/course-categories-panel.tsx
Due: Frontend Compile Test

Fix alphabetic ordering
  frontend/src/components/course-categories-panel.tsx
Due: Frontend Compile Test

Implement email notifications in addition to in-app notifications
  backend/notifications/migrations/0003_notificationsetting_email_enabled.py
  backend/notifications/models.py
  backend/notifications/notification_util.py
  backend/notifications/tests.py
  backend/notifications/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/user-notification-settings.tsx
  frontend/src/interfaces.ts
Due: Django Unit Tests, Frontend Compile Test

Enable comment-on-comment and comment-on-document notifs by default
  backend/ediauth/auth_backend.py
Due: Django Unit Tests

Minor frontend style adjustments
  frontend/src/components/course-metadata-checker.tsx
  frontend/src/components/user-displayname-settings.tsx
  frontend/src/pages/document-page.tsx
  frontend/src/pages/search-page.tsx
Due: Frontend Compile Test

Better markdown tables using Table.X components
  frontend/src/components/markdown-text.tsx
Due: Frontend Compile Test

Fix Mantine styles taking priority over custom styles
  frontend/src/app.tsx
Due: Frontend Compile Test

More subtle hover effect on category cards
  frontend/src/utils/focus-outline.module.css
Due: Frontend Compile Test

Bring back subtle shadows on category cards
  frontend/src/utils/focus-outline.module.css
Due: Frontend Compile Test

Clean up category page by flushing knowledgebase and reducing visible text
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Reduce shadow on exam card and document cards
  frontend/src/components/document-card.tsx
  frontend/src/components/exam-type-section.tsx
Due: Frontend Compile Test

Make some buttons shimmer on hover to increase interactivity
  frontend/src/assets/shimmer.svg
  frontend/src/assets/star.svg
  frontend/src/components/answer-section.tsx
  frontend/src/components/document-list.tsx
  frontend/src/components/exam-list.tsx
  frontend/src/components/shimmer-button.module.css
  frontend/src/components/shimmer-button.tsx
Due: Frontend Compile Test

Move EUCLID codes above course title for better hierarchy
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Revert "Merge !60: Implement email notifications in addition to in-app notifications"
  backend/ediauth/auth_backend.py
  backend/notifications/migrations/0003_notificationsetting_email_enabled.py
  backend/notifications/models.py
  backend/notifications/notification_util.py
  backend/notifications/tests.py
  backend/notifications/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/user-notification-settings.tsx
  frontend/src/interfaces.ts
Due: Django Unit Tests, Frontend Compile Test

Merge !60: Implement email notifications in addition to in-app notifications
  backend/ediauth/auth_backend.py
  backend/notifications/migrations/0003_notificationsetting_email_enabled.py
  backend/notifications/models.py
  backend/notifications/notification_util.py
  backend/notifications/tests.py
  backend/notifications/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/user-notification-settings.tsx
  frontend/src/interfaces.ts
Due: Django Unit Tests, Frontend Compile Test

Use a maintained fork of django-gsuite-email that supports impersonation
  backend/backend/settings.py
  backend/requirements.txt
Due: Django Unit Tests

Quote notification email 'From' field since brackets are invalid as-is
  backend/notifications/notification_util.py
Due: Django Unit Tests

Fix document comment URL when navigating from notifications
  backend/notifications/notification_util.py
  backend/notifications/views.py
Due: Django Unit Tests

Implement /api/stats and add stats to /scoreboard
  backend/backend/urls.py
  backend/stats/__init__.py
  backend/stats/apps.py
  backend/stats/urls.py
  backend/stats/views.py
  frontend/package.json
  frontend/src/interfaces.ts
  frontend/src/pages/scoreboard-page.tsx
  frontend/yarn.lock
Due: Django Unit Tests, Frontend Compile Test

Add stats & scores to navigation, redirect /stats to /scoreboard
  frontend/src/app.tsx
Due: Frontend Compile Test

Prevent backend handling /stats and /login URLs
  backend/frontend/urls.py
Due: Django Unit Tests

Prefer === over == in frontend TypeScript
  frontend/src/components/user-notification-settings.tsx
  frontend/src/pages/scoreboard-page.tsx
Due: Frontend Compile Test

Always show very subtle button shimmer (star on hover)
  frontend/src/components/shimmer-button.module.css
Due: Frontend Compile Test

Cache Yarn and Pip files in CI to speed tests up
  .gitlab-ci.yml
Due: none

Update dependency clsx to v2.1.1
  frontend/yarn.lock
Due: Frontend Compile Test

Satisfy more linter warnings through use of triple equals and double quote imports
  frontend/src/app.tsx
  frontend/src/components/shimmer-button.tsx
  frontend/src/components/user-notification-settings.tsx
Due: Frontend Compile Test

Format ShimmerButton files with prettier
  frontend/src/components/shimmer-button.module.css
  frontend/src/components/shimmer-button.tsx
Due: Frontend Compile Test

Show error in UI when document file upload fails
  backend/documents/views.py
  backend/util/response.py
  frontend/src/api/hooks.ts
  frontend/src/components/create-document-file-modal.tsx
Due: Django Unit Tests, Frontend Compile Test

Fix auth token cookie deleting on browser restart
  backend/ediauth/views.py
Due: Django Unit Tests

Lengthen auth token validity from 4 to 12 weeks
  backend/ediauth/views.py
Due: Django Unit Tests
