Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Fix useCategoryTabs for React Router v7
  frontend/src/hooks/useCategoryTabs.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix Badges being illegible in light mode since Mantine 9
  frontend/src/app.tsx
Due: Frontend Check

Fix mismatch between Yarn version in mise vs package.json
  frontend/.yarnrc.yml
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

Fix CHANGELOG.md symlink not working on Windows dev
  frontend/CHANGELOG.md
  frontend/src/utils/changelog.ts
  frontend/vite.config.ts
Due: Frontend Check

Add Edinburgh specific entry to CHANGELOG
  CHANGELOG.md
Due: none

Fix CI: Minio client (mc) is now under the AIStor URL
  .github/workflows/ci.yaml
Due: none

Fix frontend CI to use Node 24 and Corepack Yarn
  .github/workflows/ci.yaml
Due: none

Fix frontend CI using removed --ignore-engines flag
  .github/workflows/ci.yaml
Due: none

Fix typing errors caught by eslint
  frontend/src/components/Editor/BasicEditor.tsx
Due: Frontend Check

Apply some eslint and prettier fixes
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/components/category-stats.tsx
  frontend/src/components/euclid-code-badge.tsx
Due: Frontend Check

Fix color shade generation for Mantine v9
  frontend/package.json
  frontend/src/app.tsx
  frontend/yarn.lock
Due: Frontend Check

Explicitly use shade 7 for favourite icon since Mantine v9 broke it
  frontend/src/components/category-card.tsx
Due: Frontend Check

Only show 'Mark as solved' button after exam loaded
  frontend/src/pages/exam-page.tsx
Due: Frontend Check

Fix linter warnings with DissertationListPage
  backend/dissertations/apps.py
  backend/dissertations/models.py
  backend/dissertations/urls.py
  backend/dissertations/views.py
  frontend/src/pages/DissertationListPage.tsx
Due: Backend Check, Frontend Check

Format DissertationListPage with prettier
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Use Django Ninja for dissertation backend APIs
  backend/backend/urls.py
  backend/dissertations/api.py
  backend/dissertations/urls.py
Due: Backend Check

Use a generic wrapper class for dissertation response 'value'
  backend/dissertations/api.py
Due: Backend Check

Consolidate /upload/ and /list/ dissertations and distinguish by method
  backend/dissertations/api.py
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Backend Check, Frontend Check

Implement PUT method for dissertations to edit any fields or the file
  backend/dissertations/api.py
Due: Backend Check

Implement DELETE method for dissertations
  backend/dissertations/api.py
Due: Backend Check

Add Joshua Tauberer's PDF redactor
  backend/dissertations/pdf_redactor.py
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Remove Python2-specific paths in pdf_redactor, typecheck
  backend/dissertations/pdf_redactor.py
Due: Backend Check

Implement POST /dissertations/redact/ to redact phrases from PDF
  backend/dissertations/api.py
Due: Backend Check

Delete temporary redacted dissertation PDFs older than 5minutes
  backend/dissertations/api.py
  backend/util/s3_util.py
Due: Backend Check

Format UploadDissertationPage with prettier
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Format DissertationDetailPage with prettier
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Consolidate frontend dissertation interfaces, and use int for year
  backend/dissertations/api.py
  frontend/src/interfaces.ts
  frontend/src/pages/DissertationDetailPage.tsx
  frontend/src/pages/DissertationListPage.tsx
Due: Backend Check, Frontend Check

Fix Django Ninija validation errors not conforming to .err standard across ComSol
  backend/backend/urls.py
Due: Backend Check

Rewrite frontend diss upload logic wtih useRequest
  frontend/src/api/hooks.ts
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Extract backend redaction logic to own function, use tempfile to prevent clashes
  backend/dissertations/api.py
Due: Backend Check

Support redaction of dissertations when uploading
  backend/dissertations/api.py
Due: Backend Check

Ignore empty redaction words in backend
  backend/dissertations/api.py
Due: Backend Check

Show most recent year first in dissertation year dropdown
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Fix backend diss redaction endpoint to take single comma-split string
  backend/dissertations/api.py
Due: Backend Check

Implement diss redaction frontend and add important info
  frontend/src/api/hooks.ts
  frontend/src/interfaces.ts
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Rewrite DissertationListPage to use centralised useRequest hook for requests
  frontend/src/api/hooks.ts
  frontend/src/pages/DissertationListPage.tsx
Due: Frontend Check

Improve layout of dissertation list page
  frontend/src/pages/DissertationListPage.tsx
  frontend/src/pages/UploadDissertationPage.tsx
Due: Frontend Check

Support setting/updating relevant categories for a diss by slug
  backend/dissertations/api.py
Due: Backend Check

Implement backend filtering list of dissertations by category slug
  backend/dissertations/api.py
  frontend/src/api/hooks.ts
Due: Backend Check, Frontend Check

Improve layout of dissertation detail page and use central hooks
  frontend/src/api/hooks.ts
  frontend/src/pages/DissertationDetailPage.tsx
Due: Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
