Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Add version entry for the small fixes
  CHANGELOG.md
Due: none

Adapt CI to versioned release: only deploy on tags
  .github/workflows/ci.yaml
Due: none

Rename LUK to Admin to adapt to Edinburgh
  frontend/src/components/feedback-entry.tsx
Due: Frontend Check

Updated dissertation feature to Mantine v9
  frontend/src/components/dissertation-list.tsx
  frontend/src/pages/dissertation-upload-page.tsx
Due: Frontend Check

Fix 'latest' Docker tag not referring to tagged releases
  .github/workflows/ci.yaml
Due: none

Fix invalid CI syntax for expressions
  .github/workflows/ci.yaml
Due: none

Add angle attribute to LabelProps.
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Run yarn lint and format
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Add changelog entry about PR #94
  CHANGELOG.md
Due: none

Fix bad merge of Django Ninja exception handlers
  backend/backend/urls.py
Due: Backend Check

Rename 'Home' to 'Courses' in nav bar
  frontend/src/app.tsx
Due: Frontend Check

Pass user link in navbar as 'loginButton' prop instead of nav
  frontend/src/app.tsx
Due: Frontend Check

Make navigation bar slimmer from 3.5rem to 2.5rem
  frontend/src/components/Navbar/BottomHeader.module.css
  frontend/src/components/Navbar/BottomHeader.tsx
  frontend/src/components/Navbar/ExternalNav.module.css
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Check

Implement clearer hover styles in navbar
  frontend/src/components/Navbar/ExternalNav.module.css
Due: Frontend Check

Make QuickSearch navbar button more compact
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.module.css
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Use children prop instead of leftSection prop for color scheme icons
  frontend/src/components/color-scheme-toggle.tsx
Due: Frontend Check

Make mobile navbar slimmer from 3.5rem to 2.5rem
  frontend/src/components/Navbar/MobileHeader.module.css
  frontend/src/components/Navbar/MobileHeader.tsx
Due: Frontend Check

Fix mobile navbar being affected by desktop-only styles
  frontend/src/components/Navbar/BottomHeader.module.css
  frontend/src/components/Navbar/BottomHeader.tsx
  frontend/src/components/Navbar/ExternalNav.module.css
Due: Frontend Check

Reduce gap between navbar items in mobile
  frontend/src/components/Navbar/MobileHeader.tsx
Due: Frontend Check

Create GitHub Actions workflows for automatic release
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Allow non-'edi' versions, document actions
  .github/workflows/ci.yaml
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Remove heading text from CHANGELOG
  CHANGELOG.md
Due: none

Rewrite changelog to prepare changing version number scheme
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix vertical scrollbar in category page tabs
  frontend/src/pages/category-page.tsx
Due: Frontend Check

docs: add comment explaining change
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Fix changelog generator modifying past release entries
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Reduce newlines in changelog PR description
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Remove top-level 'Changelog' from changelog PR description
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Fix sed removing preceding character in auto-generated changelog
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Fix desktop navItem styles applying incorrectly to childItems
  frontend/src/components/Navbar/BottomHeader.module.css
  frontend/src/components/Navbar/ExternalNav.module.css
Due: Frontend Check

Auto-open 'more' items in navigation on hover
  frontend/src/components/Navbar/ExternalNav.tsx
Due: Frontend Check

Fix awkward border thin-ness at corners in desktop navigation items
  frontend/src/components/Navbar/ExternalNav.module.css
Due: Frontend Check

Fix empty navigation bar item when not logged in
  frontend/src/app.tsx
Due: Frontend Check

Use Badge instead of Kbd for QuickSearchBox for better blending
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
Due: Frontend Check

Fix line endings in some migration files to be LF
  backend/answers/migrations/0016_remove_answer_is_legacy_answer_and_more.py
  backend/categories/migrations/0011_alter_category_permission_alter_category_semester.py
  backend/categories/migrations/0012_remove_category_has_payments.py
Due: Backend Check

Replace @mantine/charts with Apache echarts for customisability
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/components/category-stats.tsx
  frontend/src/pages/category-page.tsx
  frontend/src/pages/scoreboard-page.tsx
  frontend/yarn.lock
Due: Frontend Check

Show daily statistics on scoreboard instead of 3 granularities
  backend/stats/views.py
  frontend/src/interfaces.ts
  frontend/src/pages/scoreboard-page.tsx
Due: Backend Check, Frontend Check

Extract out coursework/exam ratio chart into its own file
  frontend/src/components/Charts/CourseworkExamRatioChart.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Show statistics for entire history of Better Informatics
  backend/stats/views.py
  frontend/src/pages/scoreboard-page.tsx
Due: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
