Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Populate request.DATA for patch requests
  backend/util/middleware.py
Due: Backend Check

Update all non-major dependencies
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  frontend/yarn.lock
  mise.toml
Due: Backend Check, Frontend Check

Fix flagged page
  frontend/src/pages/flagged-content.tsx
Due: Frontend Check

fix linting issues
  frontend/src/hooks/useConfirm.tsx
Due: Frontend Check

add optional overrrides for properties of the useConfirm modal
  frontend/src/components/answer.tsx
  frontend/src/hooks/useConfirm.tsx
Due: Frontend Check

replace "Cancel" with "No"
  frontend/src/components/answer.tsx
Due: Frontend Check

change default button labels & rename 'useConfirm' to 'useRemoveConfirm'
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/faq-entry.tsx
  frontend/src/hooks/useRemoveConfirm.tsx
  frontend/src/pages/category-page.tsx
Due: Frontend Check

invert footer VIS logo in dark mode
  frontend/src/components/footer.module.css
  frontend/src/components/footer.tsx
Due: Frontend Check

make first answer card section darker
  frontend/src/components/answer.module.css
  frontend/src/components/answer.tsx
Due: Frontend Check

Fix Björn (NotFoundPage) rendering on every page due to missed Switch
  frontend/src/app.tsx
  frontend/src/auth/AuthenticatedRoutes.tsx
Due: Frontend Check

Merge branch 'remove-userroutes' into 'master'
  frontend/src/app.tsx
  frontend/src/auth/AuthenticatedRoutes.tsx
  frontend/src/auth/UserRoute.tsx
Due: Frontend Check

Migrate from React Router 5.3.4 to React Router 6.30.2
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/auth/AuthenticatedRoutes.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/components/category-card.tsx
  frontend/src/components/create-document-modal.tsx
  frontend/src/components/document-settings.tsx
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/upload-pdf-card.tsx
  frontend/src/components/upload-transcript-card.tsx
  frontend/src/index.tsx
  frontend/src/pages/category-page.tsx
  frontend/src/pages/exam-page.tsx
  frontend/src/utils/faro-intialize.ts
  frontend/yarn.lock
Due: Frontend Check

Replace get_page_text shelling out to poppler with PyPdfium2
  backend/answers/pdf_utils.py
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Replace analyze_pdf shelling out to poppler with PyPdfium2
  backend/answers/pdf_utils.py
Due: Backend Check

Fix assets folder being different between Docker and local backend
  backend/backend/settings.py
  backend/filestore/tests.py
  backend/images/tests.py
  backend/testing/management/commands/create_testdata.py
  mise.toml
Due: Backend Check

Remove ExamPageFlow and ExamWord from database
  backend/answers/migrations/0019_remove_examword_flow_delete_exampageflow_and_more.py
  backend/answers/models.py
Due: Backend Check

Remove unused argument to get_page_text
  backend/answers/pdf_utils.py
Due: Backend Check

Setting to warn users agains dark mode
  backend/answers/migrations/0019_exam_dark_mode_warning.py
  backend/answers/models.py
  backend/answers/test/tests.py
  backend/answers/views.py
  frontend/src/components/exam-metadata-editor.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/exam-page.tsx
Due: Backend Check, Frontend Check

Rename migration to avoid conflict
  backend/answers/migrations/0020_exam_dark_mode_warning.py
Due: Backend Check

fix: Use str.join to return valid answer kinds
  backend/answers/views_answers.py
Due: Backend Check

Flag comments in create_testdata
  backend/testing/management/commands/create_testdata.py
Due: Backend Check

Drive-by format create_testdata
  backend/testing/management/commands/create_testdata.py
Due: Backend Check

Use `get_file_obj` instead of `get_document_file`
  backend/documents/views.py
Due: Backend Check

Format `document/views.py`
  backend/documents/views.py
Due: Backend Check

Wrap `get_file_obj` in `response.success`
  backend/documents/views.py
Due: Backend Check

Fix auth failing locally when time to expiry < timezone offset to UTC
  backend/myauth/auth_backend.py
Due: Backend Check

Add tblib to backend development dependencies to see UT exception tracebacks
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

add mermaid support in answers
  frontend/package.json
  frontend/src/components/markdown-text.tsx
  frontend/yarn.lock
Due: Frontend Check

Use Django Ninja experimentally for feedback APIs
  backend/backend/settings.py
  backend/backend/urls.py
  backend/feedback/api.py
  backend/feedback/urls.py
  backend/feedback/views.py
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

lint "add mermaid support"
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Migrate from `@umijs/hooks` to `ahooks@2`
  frontend/package.json
  frontend/src/api/faq.ts
  frontend/src/api/hooks.ts
  frontend/src/api/image.ts
  frontend/src/app.tsx
  frontend/src/components/Navbar/QuickSearch/QuickSearchBox.tsx
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/components/claim-button.tsx
  frontend/src/components/document-code.tsx
  frontend/src/components/document-markdown-editor.tsx
  frontend/src/components/document-markdown.tsx
  frontend/src/components/document-pdf.tsx
  frontend/src/components/document-settings.tsx
  frontend/src/components/edit-meta-categories.tsx
  frontend/src/components/exam-list.tsx
  frontend/src/components/exam-metadata-editor.tsx
  frontend/src/components/exam-panel.tsx
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/feedback-entry.tsx
  frontend/src/components/official-solution.tsx
  frontend/src/components/score.tsx
  frontend/src/components/upload-pdf-card.tsx
  frontend/src/components/upload-transcript-card.tsx
  frontend/src/pages/category-page.tsx
  frontend/src/pages/exam-page.tsx
  frontend/src/pages/feedback-page.tsx
  frontend/src/pages/flagged-content.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/pages/modqueue-page.tsx
  frontend/src/pages/scoreboard-page.tsx
  frontend/src/pages/search-page.tsx
  frontend/src/pdf/pdf-section-canvas.tsx
  frontend/yarn.lock
Due: Frontend Check

fix type error
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

fix selecting of text
  frontend/src/components/Editor/EditorFooter.tsx
Due: Frontend Check

drive-by-lint & -format
  frontend/src/components/Editor/EditorFooter.tsx
Due: Frontend Check

replace match[1] with named variable (language)
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

add mermaid section to supported functions popup
  frontend/src/components/Editor/EditorHelp.tsx
Due: Frontend Check

remove unnecessary empty lines
  frontend/src/components/Editor/EditorHelp.tsx
Due: Frontend Check

Change config to allow access to ninja
  backend/backend/settings.py
  frontend/vite.config.ts
Due: Backend Check, Frontend Check

Fix Django-Ninja assets not being bundled in frontend
  Dockerfile
  backend/backend/settings.py
  backend/backend/urls.py
Due: Backend Check

Update GitHub workflow to use uv instead of pip
  .github/workflows/ci.yaml
Due: none

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
