Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Moved official-answer DB migration below latest master migration
  backend/answers/migrations/0018_migrate_legacy_to_answer_kind.py
Due: Backend Check

Simplify object prop assignment where we can
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Run Prettier on code modified in this PR
  frontend/src/components/answer.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/markdown-text.tsx
  frontend/src/components/official-solution.tsx
Due: Frontend Check

Revert dev OIDC client secret change
  docker-compose.yml
Due: none

collapse wrapperquick fix
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Add explicit instructions for setting up Mise
  README.md
Due: none

Fix backend not being able to start on Windows due to missing pyroscope
  backend/manage.py
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Explicitly specify linux/amd64 as backend platform
  docker-compose.yml
Due: none

Remove unused fluff fields from backend pyproject.toml
  backend/pyproject.toml
Due: Backend Check

Bump gevent to 23.9.1, as 23.7.0 wheels fail to compile on macOS natively
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Bump psycopg2 from 2.8.6 to 2.9.3 to guarantee arm64 binary wheels on macOS
  backend/pyproject.toml
  backend/uv.lock
  mise.toml
Due: Backend Check

restore home-page.tsx type errors
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Remove unnecessary re-render on CommentSectionComponent when URL has comment param
  frontend/src/components/comment-section.tsx
Due: Frontend Check

Highlight the permalinked element for a second to draw attention
  frontend/src/components/permalink-handler.tsx
Due: Frontend Check

Reduce MutationObserver scope for PermalinkHandler
  frontend/src/components/permalink-handler.tsx
Due: Frontend Check

Fix wrong useEffect deps list in PermaLinkHandler
  frontend/src/components/permalink-handler.tsx
Due: Frontend Check

Modernise HashLocation & PermalinkHandler to hooks
  frontend/src/app.tsx
  frontend/src/components/exam.tsx
  frontend/src/hooks/useScrollToHash.tsx
  frontend/src/hooks/useScrollToPermalink.tsx
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Document why we need useEffect in Exam to expand sections based on permalink
  frontend/src/components/exam.tsx
Due: Frontend Check

Add comment explaining why last conditional is needed in loadSections
  frontend/src/api/exam-loader.ts
Due: Frontend Check

Fix answer sections in page 0
  backend/testing/management/commands/create_testdata.py
Due: Backend Check

add note about mise.local.toml
  .gitignore
  README.md
Due: none

Add a pre-commit hook for Prettier on the frontend
  frontend/.pre-commit-config.yaml
  mise.toml
Due: Frontend Check

Add a pre-commit hook for black on the backend
  backend/.pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: Backend Check

Add note in README about pre-commit hooks
  .pre-commit-config.yaml
  README.md
Due: none

Disable CI while the network in executor VMs are unstable
  .gitlab-ci.yml
Due: none

Add postgres db in docker compose
  docker-compose.yml
Due: none

Change db password and user to postgres that way psql -U postgres works
  backend/.env.development
  docker-compose.yml
Due: Backend Check

Fix app-user not having permissions to run uv
  Dockerfile
Due: none

Fix /usr/local/bin/gunicorn not existing after uv-ification
  cinit.yml
Due: none

Fix small issues with readme
  README.md
Due: none

Remove wrongly added import
  frontend/src/components/category-metadata-editor.tsx
Due: Frontend Check

Cleaner handling of attachment logic
  frontend/src/components/category-metadata-editor.tsx
Due: Frontend Check

Frontend support to allow changing the file and the display name of an attachment
  frontend/src/components/attachment-file-item.tsx
  frontend/src/components/attachments-editor.tsx
  frontend/src/components/category-metadata-editor.tsx
Due: Frontend Check

Backend support for editing display names of already uploaded files
  backend/filestore/urls.py
  backend/filestore/views.py
Due: Backend Check

Changed to PUT and added to exam metadata
  backend/filestore/views.py
  backend/util/response.py
  frontend/src/components/attachment-file-item.tsx
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/components/exam-metadata-editor.tsx
Due: Backend Check, Frontend Check

Correct the name of the url path
  backend/filestore/urls.py
Due: Backend Check

Removed json
  backend/util/response.py
Due: Backend Check

Implement suggested changes and put an index in the filename in the case of a duplicate
  backend/filestore/views.py
  backend/util/response.py
  frontend/src/api/fetch-utils.tsx
  frontend/src/components/attachment-file-item.tsx
  frontend/src/components/attachments-editor.tsx
  frontend/src/components/category-metadata-editor.tsx
  frontend/src/components/create-document-file-modal.tsx
  frontend/src/components/document-settings.tsx
Due: Backend Check, Frontend Check

Make the ui nicer
  frontend/src/components/attachment-file-item.tsx
Due: Frontend Check

Change the tooltip message
  frontend/src/components/attachment-file-item.tsx
Due: Frontend Check
