Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Make imports for guide page and guide history page lazy
  frontend/src/app.tsx
Due: Frontend Check

Fix post-creation redirect for new guide pages
  frontend/src/app.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Stylise page article revision history as collapsible list
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Make revision history page look similar to page article
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Implement ability to change a page article slug if privileged
  backend/pages/api.py
  frontend/src/components/page-article.tsx
Due: Backend Check, Frontend Check

In revisions, show title delta or a hint text if no delta
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Remove default revision message to encourage manually writing one
  frontend/src/components/page-article.tsx
Due: Frontend Check

Implement optional anchoring for h1-h6 in MarkdownText
  frontend/src/components/markdown-text.tsx
  frontend/src/components/page-article.tsx
  frontend/src/hooks/useTableOfContents.ts
Due: Frontend Check

Implement a custom Through model for page parent relationships
  backend/pages/api.py
  backend/pages/migrations/0007_pageparent_alter_page_parents.py
  backend/pages/models.py
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Backend Check, Frontend Check

Fix guide article link styles having low contrast in dark mode
  frontend/src/components/page-article.module.css
Due: Frontend Check

Snappier more subtle animation for guide fade-in transitions
  frontend/src/components/page-article.module.css
Due: Frontend Check

Fix /guide route not working due to requirement on slug
  frontend/src/app.tsx
Due: Frontend Check

Make timestamp a toggle hitbox too in revision list to ease use
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Change link state styles in page articles
  frontend/src/components/page-article.module.css
Due: Frontend Check

Show arbitrarily nested guides in left sidebar
  frontend/src/components/guide-sidebar-left.module.css
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Format content/title delta in API response as standard diff
  backend/pages/api.py
Due: Backend Check

Disable updating pages when there are no changesets
  backend/pages/api.py
  frontend/src/components/guide-sidebar-right.tsx
Due: Backend Check, Frontend Check

Remove capitalize style on page metadata due to 'At' looking weird
  frontend/src/components/guide-sidebar-right.module.css
Due: Frontend Check

Fix 1cb03ce not correctly fixing temporary user logic
  backend/ediauth/auth_check.py
Due: Backend Check

Fix long page author display name affecting layout of parent
  frontend/src/components/guide-sidebar-right.module.css
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Add a link to go from a page's revision history back to the page
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Reduce line height to 1 in revision history code blocks
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Use common sidebar instance for GuideArticle and GuideHistory
  frontend/src/app.tsx
  frontend/src/pages/guide-article-page.tsx
  frontend/src/pages/guide-history-page.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Implement revision redaction and historical state recreation in backend
  backend/pages/api.py
Due: Backend Check

Align the icon added in d1ef95e to the rest of revision history
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Hide view-in-context link from category guide page while editing
  frontend/src/components/page-article.tsx
Due: Frontend Check

Allow admins to see redacted page revisions
  frontend/src/components/page-article-history.tsx
Due: Frontend Check

Fix annoying closure of tree expansion if we aren't on target page
  frontend/src/components/guide-sidebar-left.tsx
Due: Frontend Check

Proactively solve hcaptcha automatically when creating page
  frontend/src/components/guide-sidebar-left.tsx
Due: Frontend Check

Fix is_anonymous not being set in article due to incorrect function use
  frontend/src/components/page-article.tsx
Due: Frontend Check

Implement frontend button for admins to redact a page revision
  backend/pages/api.py
  frontend/src/components/page-article-history.tsx
Due: Backend Check, Frontend Check

Show category-guides in left sidebar tree as well
  frontend/src/components/guide-sidebar-left.tsx
Due: Frontend Check

Rename right sidebar 'Parent Pages' to 'This page is part of' for clarity
  frontend/src/components/guide-sidebar-right.tsx
Due: Frontend Check

Proactively solve hcaptcha automatically upon entering edit mode
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article.tsx
Due: Frontend Check

Disable refetchOnWindowFocus for all Tanstack Query hooks globally
  frontend/src/index.tsx
Due: Frontend Check

Use dedicated version of UserRender for displaying page authors
  frontend/src/components/guide-sidebar-right.tsx
  frontend/src/components/page-article-history.tsx
  frontend/src/components/page-user-render.tsx
Due: Frontend Check

Fix anonymous user being revealed regardless of admin state
  backend/pages/api.py
  frontend/src/components/page-article-history.tsx
Due: Backend Check, Frontend Check

Revert "Show category-guides in left sidebar tree as well"
  frontend/src/components/guide-sidebar-left.tsx
Due: Frontend Check

Return both slug and displayname of associated category for pages
  backend/pages/api.py
  frontend/src/components/page-article.tsx
Due: Backend Check, Frontend Check

Camel case all operation_ids in Pages API for consistency with other APIs
  backend/pages/api.py
Due: Backend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
