Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Reverse-sort grade stats dataset for better UX
  frontend/src/components/category-stats.tsx
  frontend/src/interfaces.ts
Due: Frontend Check

Make the UI more clera that grade statistics dataset has tabs
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Work around ahooks cacheKey returning stale data after slug changes
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Show 25/75 percentiles as box plot, show only paired percentiles
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix nonce attributes being removed from script tags in ExtremelyTrustedHTML
  frontend/src/components/extremely-trusted-html.tsx
Due: Frontend Check

s/BetterInformatics/Better Informatics/ for consistency
  backend/backend/settings.py
  backend/categories/models.py
  backend/ediauth/views.py
  backend/notifications/notification_util.py
  frontend/index.html
  frontend/src/components/Navbar/BottomHeader.tsx
  frontend/src/components/course-metadata-checker.tsx
  frontend/src/components/extremely-trusted-html.tsx
  frontend/src/components/login-overlay.tsx
  frontend/src/pages/disclaimer-page.tsx
  frontend/src/pages/feedback-page.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/pages/login-page.tsx
Due: Backend Check, Frontend Check

Update branding: BIFC -> BI
  README.md
  backend/ediauth/views.py
  frontend/.env.development
  frontend/index.html
  frontend/public/static/config.js
  frontend/src/app.tsx
  frontend/src/pages/disclaimer-page.tsx
  frontend/src/pages/feedback-page.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/pages/login-page.tsx
Due: Backend Check, Frontend Check

Use GitHub App to work around workflow approval requirement
  .github/workflows/release_pr_command.yaml
  .github/workflows/release_pr_creator.yaml
Due: none

Fix request_get(param) being broken after d284be89
  backend/categories/views.py
Due: Backend Check

Make Editor and HtmlEditor lazy in guide pages
  frontend/src/components/html-editor.tsx
  frontend/src/components/markdown-text.tsx
  frontend/src/components/page-article.tsx
  frontend/src/pages/guide-page.tsx
Due: Frontend Check

Add courses.json endpoint for serving S3 content if it exists
  backend/backend/urls.py
  backend/backend/views.py
Due: Backend Check

Fix quotes breaking string interpolation in CI
  .github/workflows/release_pr_command.yaml
Due: none

Update Changelog for next release
  CHANGELOG.md
Due: none

Fix grade stat chart choosing incomplete data to draw
  frontend/src/components/category-stats.tsx
Due: Frontend Check

Fix grade stat chart tooltip put at X=0 when only one year exists
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Show standard deviation as line if len(year) = 1
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Increase visibility of 5/95th percentile lines in grade stats
  frontend/src/components/Charts/CategoryGradeStatChart.tsx
Due: Frontend Check

Place CSP nonce in meta tag, read dynamically to use
  backend/pages/api.py
  frontend/.env.development
  frontend/.env.production
  frontend/index.html
  frontend/src/components/extremely-trusted-html.tsx
Due: Backend Check, Frontend Check

Read courses.yml from S3, not courses.yaml
  backend/backend/views.py
Due: Backend Check

Update changelog for release v2026.09.10
  CHANGELOG.md
Due: none

Update broken links to assets on previous domain
  frontend/public/static/config.js
  frontend/public/static/img/camel-transparent.png
  frontend/public/static/img/favicon.ico
Due: Frontend Check

Fix broken org logo source URL
  frontend/public/static/config.js
Due: Frontend Check

Update changelog for release v2026.09.11
  CHANGELOG.md
Due: none

Use new domain for dev frontend favicon
  backend/.env.development
Due: Backend Check

Update links to repository in footer and feedback page
  frontend/public/static/config.js
  frontend/src/pages/feedback-page.tsx
Due: Frontend Check

Update screenshot.png with new domain
  screenshot.png
Due: none

Use new domain in README
  README.md
Due: none

Use new domain in CI
  .github/workflows/ci.yaml
Due: none

Standardise naming of project where it makes sense
  README.md
Due: none

Replace logo in README
  logo.png
Due: none
