Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Django Unit Tests, Frontend Compile Test

Path conditions:
  Django Unit Tests: any of: backend/**/*
  Frontend Compile Test: any of: frontend/**/*

Fix long breadcrumb entries on category page causing horizontal overflow
  frontend/src/pages/category-page.tsx
Due: Frontend Compile Test

Fix UTs being broken since 2021/02 due to lack of home_organization
  backend/myauth/tests.py
  backend/testing/tests.py
Due: Django Unit Tests

Fix PDEP_IS_PREVIEW causing UTs to fail due to unconditional admin
  backend/backend/settings.py
Due: Django Unit Tests

Fix TestListings UTs failing since 6ed9a5d removed wiki transfer
  backend/answers/test/tests_listings.py
Due: Django Unit Tests

Fix TestJWT UTs failing since d07e6cfb changed unauth code to 401
  backend/myauth/tests.py
Due: Django Unit Tests

Create more plausible category names in create_testdata
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Update create_testdata.py
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Fix rendering issues causing [object Object] to appear in search
  frontend/src/components/markdown-text.tsx
  frontend/src/components/search-results.tsx
Due: Frontend Compile Test

Improve flagging
  backend/answers/migrations/0017_comment_flagged.py
  backend/answers/section_util.py
  backend/answers/test/tests_answers.py
  backend/answers/urls.py
  backend/answers/views_comments.py
  backend/answers/views_listings.py
  backend/documents/migrations/0015_comment_flagged.py
  backend/documents/urls.py
  backend/documents/views.py
  backend/frontend/urls.py
  backend/util/models.py
  frontend/src/api/hooks.ts
  frontend/src/app.tsx
  frontend/src/components/answer-section.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/comment-section.tsx
  frontend/src/components/comment-single.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/permalink-handler.tsx
  frontend/src/components/user-comments.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/document-page.tsx
  frontend/src/pages/flagged-content.tsx
  frontend/src/pages/modqueue-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Will fix OTEL later
  backend/gunicorn.conf.py
  cinit.yml
Due: Django Unit Tests

disable instrumentation in backend
  backend/gunicorn.conf.py
Due: Django Unit Tests

Removed AI check for testimonials + Added approval flag in db for manual testimonial approvals
  backend/notifications/notification_util.py
  backend/testimonials/models.py
  backend/testimonials/views.py
  frontend/src/components/user-testimonials.tsx
  frontend/src/pages/testimonials-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Fix create_testdata failing if someone logs in during command execution
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Reduce number of answers and comments generated by create_testdata
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Log when answers have finished generating during create_testdata
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

Testdata add skip-if-exists
  backend/testing/management/commands/create_testdata.py
Due: Django Unit Tests

change icon and add tooltip to make link more clear
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

remove outline for inactivity popup button, to make it normal button colour
  frontend/src/app.tsx
Due: Frontend Compile Test

Use children instead of deprecated component prop for frontend route content
  frontend/src/app.tsx
  frontend/src/components/hash-location-handler.tsx
  frontend/src/pages/login-page.tsx
Due: Frontend Compile Test

Fixed Admin View of Testimonials + Keep rejected testimonials in db
  backend/notifications/notification_util.py
  backend/testimonials/models.py
  backend/testimonials/views.py
  frontend/src/components/user-testimonials.tsx
  frontend/src/pages/add-testimonials-page.tsx
  frontend/src/pages/testimonials-page.tsx
Due: Django Unit Tests, Frontend Compile Test

realign and recolor tooltip
  frontend/src/components/answer.tsx
Due: Frontend Compile Test

Fixed Django Models to align courses in categories table and testimonials table
  Dockerfile
  backend/testimonials/models.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/src/api/testimonials.ts
  frontend/src/components/user-testimonials.tsx
  frontend/src/pages/add-testimonials-page.tsx
  frontend/src/pages/testimonials-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Connect Categories with Testimonials Backend
  backend/categories/models.py
  backend/categories/urls.py
  backend/categories/views.py
  backend/notifications/notification_util.py
  backend/testimonials/models.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/src/api/testimonials.ts
  frontend/src/app.tsx
  frontend/src/components/user-testimonials.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/add-testimonials-page.tsx
  frontend/src/pages/category-page.tsx
  frontend/src/pages/testimonials-page.tsx
Due: Django Unit Tests, Frontend Compile Test

Fix LoadingOverlay spinner not fading after Mantine v7 migration
  frontend/src/components/loading-overlay.tsx
Due: Frontend Compile Test

Document the token refresh timer function in app.tsx
  frontend/src/app.tsx
Due: Frontend Compile Test

Add backend support for refresh_expires auth cookie
  backend/myauth/views.py
Due: Django Unit Tests

Prevent frontend from attempting a token refresh if refresh token is expired
  frontend/src/api/fetch-utils.tsx
  frontend/src/app.tsx
Due: Frontend Compile Test

Reduce getCookie in frontend auth where one call suffices
  frontend/src/app.tsx
Due: Frontend Compile Test

Prevent token refresh when doing GET/POST requests if refresh token is expired
  frontend/src/api/fetch-utils.tsx
Due: Frontend Compile Test

Fix frontend polling for notifications even without valid auth
  frontend/src/app.tsx
Due: Frontend Compile Test

Fix refresh token expiry not showing Logged Out modal like before
  frontend/src/app.tsx
Due: Frontend Compile Test

Fix logged-out modal not disappearing when token refreshed from another tab
  frontend/src/app.tsx
Due: Frontend Compile Test

Format auth related code lines in app.tsx
  frontend/src/app.tsx
Due: Frontend Compile Test

Format auth related code lines in fetch-utils.tsx
  frontend/src/api/fetch-utils.tsx
Due: Frontend Compile Test

Improve fluidity of home-page with staggered animations if supported by browser
  frontend/src/components/category-card.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/utils/fade-in-order.module.css
Due: Frontend Compile Test

Fix navbar and body shifting when page is long enough to be scrollable
  frontend/src/components/Navbar/BottomHeader.module.css
  frontend/src/components/Navbar/BottomHeader.tsx
  frontend/src/index.css
Due: Frontend Compile Test

Disable home page stagger animation on reduced-motion and print versions
  frontend/src/utils/fade-in-order.module.css
Due: Frontend Compile Test

Disable category card staggering animation when filtering
  frontend/src/components/category-card.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Compile Test

Fix ContentContainer having empty left space after 915aea4
  frontend/src/components/secondary-container.module.css
  frontend/src/components/secondary-container.tsx
Due: Frontend Compile Test

Add self-hosted analytics tag to frontend
  frontend/index.html
Due: Frontend Compile Test
