Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*

Add note that diss edit endpoint would be better with PatchDict
  backend/dissertations/api.py
Due: Backend Check

Fix dissertation update not redacting words even if specified
  backend/dissertations/api.py
  frontend/src/pages/dissertation-upload-page.tsx
Due: Backend Check, Frontend Check

Fix dissertation update 'pdf_file' param always being None
  backend/backend/settings.py
  backend/dissertations/api.py
  backend/util/middleware.py
Due: Backend Check

Reload PDF file in frontend when it has been updated
  frontend/src/pages/dissertation-detail-page.tsx
Due: Frontend Check

Avoid use of non-null assertion in dissertation deletion modal
  frontend/src/pages/dissertation-upload-page.tsx
Due: Frontend Check

use camelCase for dissertation upload page props
  frontend/src/pages/dissertation-detail-page.tsx
  frontend/src/pages/dissertation-upload-page.tsx
Due: Frontend Check

Fix CI: Minio client (mc) is now under the AIStor URL
  .github/workflows/ci.yaml
Due: none

Modqueue delete button
  frontend/src/api/hooks.ts
  frontend/src/components/exam-type-section.tsx
  frontend/src/pages/modqueue-page.tsx
Due: Frontend Check

use clsx to add multiple classes
  frontend/src/components/Editor/EditorHeader.tsx
Due: Frontend Check

Migrate to Mantine v9
  frontend/package.json
  frontend/src/components/collapse-wrapper.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/components/exam-list.tsx
  frontend/src/makeVsethTheme.ts
  frontend/yarn.lock
Due: Frontend Check

Change default border corner to md Fix announcement margins
  frontend/src/app.tsx
  frontend/src/components/Navbar/AnnouncementHeader.tsx
  frontend/src/makeVsethTheme.ts
Due: Frontend Check

Added changelog page when user is logged in
  Dockerfile
  frontend/CHANGELOG.md
  frontend/src/app.tsx
  frontend/src/components/ChangelogNotifier.tsx
  frontend/src/pages/changelog-page.tsx
  frontend/src/raw-markdown.d.ts
  frontend/src/utils/changelog.ts
Due: Frontend Check

Fix mobile pinch zoom on modals
  frontend/src/app.tsx
Due: Frontend Check

Fix syntax highlighting
  frontend/src/components/markdown-text.tsx
Due: Frontend Check

Fixed spacing issue in changelog popup
  frontend/src/components/markdown-text.module.css
Due: Frontend Check

Fixed routing and frontend suggestions
  backend/frontend/urls.py
  frontend/src/components/ChangelogNotifier.tsx
  frontend/src/components/markdown-text.module.css
  frontend/src/utils/changelog.ts
Due: Backend Check, Frontend Check

feat: added admin reply to feedback with in-app notification
  backend/feedback/api.py
  backend/feedback/migrations/0002_feedback_reply_feedback_reply_time.py
  backend/feedback/models.py
  backend/notifications/migrations/0003_notification_feedback.py
  backend/notifications/models.py
  backend/notifications/notification_util.py
  backend/notifications/views.py
  frontend/src/api/hooks.ts
  frontend/src/components/feedback-entry.tsx
  frontend/src/components/user-notification-settings.tsx
  frontend/src/interfaces.ts
Due: Backend Check, Frontend Check

Resolve "Debug button overlaps with another button on the main page"
  frontend/src/app.tsx
Due: Frontend Check

Schema for /api/feedback/list/
  backend/feedback/api.py
Due: Backend Check

Use Django Ninja for images API
  backend/backend/urls.py
  backend/images/api.py
  backend/images/urls.py
  backend/images/views.py
  backend/util/response.py
Due: Backend Check

Address feedback
  backend/feedback/api.py
  backend/images/api.py
  backend/util/schemas.py
Due: Backend Check

Pass metaCategories centrally to fix parallel requests being fired
  frontend/src/api/hooks.ts
  frontend/src/components/edit-meta-categories.tsx
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Made second search bar invisible when no input given
  frontend/src/pages/home-page.tsx
Due: Frontend Check

@grafana/faro-react v2
  frontend/package.json
  frontend/src/utils/faro-intialize.ts
  frontend/yarn.lock
Due: Frontend Check

Catch 404 in Django Ninja
  backend/backend/urls.py
Due: Backend Check

Bump react-syntax-highlighter to v16
  frontend/package.json
  frontend/yarn.lock
Due: Frontend Check

Issue #348: Add Page Number Input Navigation for Long PDFs
  frontend/src/components/pdf-panel-base.tsx
Due: Frontend Check

Deduplicate potential file extensions
  frontend/src/hooks/useDocumentDownload.ts
  frontend/src/pages/document-page.tsx
  frontend/src/utils/category-utils.tsx
  frontend/src/utils/download-zip-file.ts
Due: Frontend Check

Resolve "Display recently viewed exams on the top of the home page"
  frontend/src/components/recently-viewed-exams.module.css
  frontend/src/components/recently-viewed-exams.tsx
  frontend/src/pages/exam-page.tsx
  frontend/src/pages/home-page.tsx
  frontend/src/utils/recently-viewed-exams.ts
Due: Frontend Check

Update README.md to use rclone instead of minio
  README.md
Due: none

Hotfix frontend-in-docker CHANGELOG error
  Dockerfile
Due: none

Feature to mark exams as solved
  backend/answers/migrations/0022_user_solved_exams.py
  backend/answers/models.py
  backend/answers/urls.py
  backend/answers/views.py
  backend/categories/views.py
  backend/util/response.py
  frontend/src/api/hooks.ts
  frontend/src/components/exam-type-section.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/exam-page.tsx
Due: Backend Check, Frontend Check

Show changelog on first visit without a lastseen version too
  frontend/src/components/ChangelogNotifier.tsx
Due: Frontend Check

Allow tagline next to version name in changelog
  frontend/src/utils/changelog.ts
Due: Frontend Check

Fix local storage for changelog syncing across tabs
  frontend/src/components/ChangelogNotifier.tsx
Due: Frontend Check

Use filter icon for 'second search bar'
  frontend/src/pages/home-page.tsx
Due: Frontend Check

Changelog for v2026.04.p0
  CHANGELOG.md
Due: none

Fix empty changelog from setting last version too early
  frontend/src/components/ChangelogNotifier.tsx
Due: Frontend Check

changes based on review
  backend/categories/models.py
  backend/categories/urls.py
  backend/categories/views.py
  backend/ediauth/auth_backend.py
  backend/ediauth/migrations/0007_add_testimonial_status_notification_for_existing_users.py
  backend/notifications/notification_util.py
  backend/testimonials/admin.py
  backend/testimonials/apps.py
  backend/testimonials/models.py
  backend/testimonials/urls.py
  backend/testimonials/views.py
  frontend/package.json
  frontend/src/api/testimonials.ts
  frontend/src/app.tsx
  frontend/src/components/user-testimonials.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/add-testimonials-page.tsx
  frontend/src/pages/category-page.tsx
  frontend/src/pages/testimonials-page.tsx
  frontend/yarn.lock
Due: Backend Check, Frontend Check
