Repository compsoc-edinburgh/betterinformatics-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend Check, Frontend Check

Backend Check:
  stage: Lint and Test
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/backend/.cache/pip
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpw
    POSTGRES_HOST_AUTH_METHOD: trust
    MINIO_ACCESS_KEY: minio
    MINIO_SECRET_KEY: minio123
    MINIO_DOMAIN: localhost
  before_script:
  ...

Frontend Check:
  stage: Lint and Test
  before_script:
  - set -euo pipefail
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  - export NVM_DIR=/home/debian/.nvm
  - source $NVM_DIR/nvm.sh
  - nvm install 20
  - nvm use 20
  - npm install --global yarn
  - cd frontend
  ...

Address eslint errors
  frontend/src/components/attachments-editor.tsx
  frontend/src/components/official-solution.tsx
  frontend/src/pages/userinfo-page.tsx
Due: Frontend Check

Support .typ extension
  backend/backend/settings.py
  frontend/src/components/create-document-file-modal.tsx
  frontend/src/components/document-file-item.tsx
Due: Backend Check, Frontend Check

Fix .tex upload support
  backend/backend/settings.py
Due: Backend Check

Support typst preview
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Fix .tex preview
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Remove unused mimetypes
  backend/backend/settings.py
Due: Backend Check

Format document-page.tsx
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Remove mimetype checks as they are meaningless
  frontend/src/pages/document-page.tsx
Due: Frontend Check

Migrate to node v24
  .gitlab-ci.yml
  Dockerfile
  frontend/package.json
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

Fix homepage rapid-firing listmetacategories
  frontend/src/api/hooks.ts
Due: Frontend Check

Fix auth token refresh not working since VSETH upgraded to Keycloak 24
  frontend/src/api/fetch-utils.tsx
Due: Frontend Check

Changelog
  CHANGELOG.md
Due: none

Resolve "Unit tests for `answers.test` fails after the new "official answers" feature"
  backend/answers/test/tests_answers.py
  backend/answers/test/tests_cuts.py
Due: Backend Check

Allow uploading common spreadsheet files to document bundles
  backend/backend/settings.py
  frontend/src/components/create-document-file-modal.tsx
  frontend/src/components/document-file-item.tsx
Due: Backend Check, Frontend Check

Fix all `@typescript-eslint/no-deprecated` warnings
  frontend/src/components/answer.tsx
  frontend/src/components/comment-single.tsx
  frontend/src/components/comment.tsx
  frontend/src/components/document-card.tsx
  frontend/src/components/document-comment.tsx
  frontend/src/components/exam-type-section.tsx
  frontend/src/components/search-results.tsx
  frontend/src/components/time-text.tsx
  frontend/src/hooks/useDocumentDownload.ts
  frontend/src/hooks/useDpr.ts
  frontend/src/pages/category-page.tsx
  frontend/src/pages/document-page.tsx
  frontend/src/pages/feedback-page.tsx
  frontend/src/utils/category-utils.tsx
  frontend/src/utils/clipboard.ts
Due: Frontend Check

Upgrade vite dependencies
  frontend/package.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: Frontend Check

Fix `@typescript-eslint/prefer-nullish-coalescing` warnings
  frontend/src/api/fetch-utils.tsx
  frontend/src/components/Navbar/BottomHeader.tsx
  frontend/src/components/Navbar/ExternalNav.tsx
  frontend/src/components/Navbar/MobileHeader.tsx
  frontend/src/components/Navbar/TopHeader.tsx
  frontend/src/components/answer.tsx
  frontend/src/components/creatable.tsx
  frontend/src/components/exam.tsx
  frontend/src/components/icon-button.tsx
  frontend/src/components/official-solution.tsx
  frontend/src/components/pdf-panel-base.tsx
  frontend/src/components/pdf-section-text.tsx
  frontend/src/components/upload-pdf-card.tsx
  frontend/src/components/upload-transcript-card.tsx
  frontend/src/components/user-documents.tsx
  frontend/src/components/user-notification-settings.tsx
  frontend/src/components/user-payments.tsx
  frontend/src/components/user-score-card.tsx
  frontend/src/hooks/useScrollToPermalink.tsx
  frontend/src/hooks/useSet.ts
  frontend/src/pages/exam-page.tsx
  frontend/src/pages/faq-page.tsx
  frontend/src/pages/modqueue-page.tsx
  frontend/src/pages/search-page.tsx
  frontend/src/pdf/pdf-renderer.ts
  frontend/src/pdf/pdf-section-canvas.tsx
  frontend/src/pdf/snap.ts
Due: Frontend Check

Upgrade TypeScript to latest version
  frontend/package.json
  frontend/src/pdf/pdfjs.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: Frontend Check

Upgrade pdfjs-dist to latest version
  frontend/package.json
  frontend/src/components/official-solution.tsx
  frontend/yarn.lock
Due: Frontend Check

Add a check to prevent a crash when a new user is not found in the cached list
  backend/scoreboard/views.py
Due: Backend Check

Backend support for the feature
  backend/scoreboard/views.py
Due: Backend Check

Change backend implementation to allow smarter caching
  backend/scoreboard/views.py
Due: Backend Check

Frontend implementation
  frontend/src/components/user-score-card.tsx
  frontend/src/interfaces.ts
Due: Frontend Check

Change tempo docker version to stable release
  docker-compose.observability.yml
Due: none

Update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
  mise.toml
Due: Frontend Check

rclone instead of minio
  backend/.env.development
  docker-compose.yml
  util/rclone.conf
Due: Backend Check

allow setting homeorg
  backend/.env.development
  backend/backend/settings.py
  backend/myauth/auth_backend.py
  cinit.yml
Due: Backend Check

Address feedback
  frontend/src/components/icon-button.tsx
  frontend/src/hooks/useScrollToPermalink.tsx
Due: Frontend Check

Apply 1 suggestion(s) to 1 file(s)
  backend/backend/settings.py
Due: Backend Check

Percentage ranking
  frontend/src/components/user-score-card.tsx
Due: Frontend Check

Ignore hash if element with id already exists
  frontend/src/components/exam.tsx
Due: Frontend Check

Fix annoying layout shift when adding cuts in quick succession
  frontend/src/components/answer-section-buttons.tsx
Due: Frontend Check

Fix wrong session string used for DRPS data
  frontend/src/api/hooks.ts
  frontend/src/components/course-metadata-checker.tsx
  frontend/src/interfaces.ts
  frontend/src/pages/category-page.tsx
Due: Frontend Check

Ignore .dump files used for local DB dumps
  .gitignore
Due: none

Cleanup open files
  backend/backend/settings.py
  backend/myauth/auth_backend.py
  backend/myauth/tests.py
  backend/myauth/views.py
  backend/testing/tests.py
  backend/util/ethprint.py
Due: Backend Check

Fix uploading md, typ, tex
  backend/backend/settings.py
Due: Backend Check

make fullscreen button more accessible on mobile
  frontend/src/components/Editor/EditorHeader.module.css
  frontend/src/components/Editor/EditorHeader.tsx
Due: Frontend Check

drive by format + lint
  frontend/src/components/Editor/EditorHeader.module.css
  frontend/src/components/Editor/EditorHeader.tsx
Due: Frontend Check

Remove user count
  frontend/src/components/user-score-card.tsx
Due: Frontend Check

Fix quick search box not showing answer/comment authors
  backend/answers/views_search.py
Due: Backend Check

Path conditions:
  Backend Check: any of: backend/**/*
  Frontend Check: any of: frontend/**/*
